{% extends "pages/base.html" %}

{% set title = "Energy consumption" %}

{% block main_toolbar %}
{{ super() -}}
{% filter indent(width=20, first=True) %}
<a id="setupBtn" class="btn btn-sm btn-outline-secondary text-nowrap d-none invisible" title="View energy consumption configuration"><i class="bi bi-tools"></i> Setup</a>
{% endfilter %}
{% endblock main_toolbar %}

{% block main_content %}
{{ super() -}}
<div class="container-fluid">
    <div class="row mb-3">
        <div class="col">
            <div class="accordion" id="accordionParams">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingParams">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseParams" aria-controls="collapseParams" aria-expanded="true">
                            <span class="fw-bold text-secondary"><i class="bi bi-easel"></i> Analysis parameters</span>
                        </button>
                    </h2>
                    <div id="collapseParams" class="accordion-collapse collapse show" aria-labelledby="headingParams" data-bs-parent="#accordionParams">
                        <div class="accordion-body">
                            <div class="row row-cols-1 row-cols-xl-2 g-3 g-xl-4">
                                <div class="col">
                                    <h5 class="text-secondary"><i class="bi bi-building"></i> Sites and buildings</h5>
                                    <app-tree id="sitesTree"></app-tree>
                                </div>
                                <div class="col">
                                    <h5 class="text-secondary"><i class="bi bi-calendar4-range"></i> Period</h5>
                                    <div class="d-grid gap-2">
                                        <select id="periodType" class="form-select" aria-label="Select a period" required>
                                            <option value="Month-Hourly">Hourly consumption over 1 month</option>
                                            <option value="Month-Daily" selected>Daily consumption over 1 month</option>
                                            <option value="Year-Monthly">Monthly consumption over 1 year</option>
                                            <option value="Yearly">Yearly consumption</option>
                                        </select>
                                        <div class="d-flex gap-2">
                                            <select id="periodMonth" class="form-select d-none invisible" aria-label="Select a period month" required>
                                                <option value="1">January</option>
                                                <option value="2">February</option>
                                                <option value="3">March</option>
                                                <option value="4">April</option>
                                                <option value="5">May</option>
                                                <option value="6">June</option>
                                                <option value="7">July</option>
                                                <option value="8">August</option>
                                                <option value="9">September</option>
                                                <option value="10">October</option>
                                                <option value="11">November</option>
                                                <option value="12">December</option>
                                            </select>
                                            <select id="periodYear" class="form-select d-none invisible" aria-label="Select a period year" required></select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div id="chartContainer" class="row justify-content-center row-cols-1 row-cols-xxl-2 g-4">
                <div class="col">
                    <div class="alert alert-info mb-0 pb-0" role="alert">
                        <span class="fw-bold"><i class="bi bi-question-diamond"></i> Help</span>
                        <p>To see the energy consumptions, <span class="fw-bold">select a site or a building</span> in the tree and <span class="fw-bold">choose a period</span>.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock main_content %}

{% block body_scripts %}
{{ super() -}}
{% filter indent(width=8, first=True) %}
<script type="module">
    import { EnergyConsumptionExploreView } from "{{ url_for('static', filename='scripts/modules/views/analysis/energyConsumption/explore.js') }}";


    document.addEventListener("DOMContentLoaded", () => {

        let energyConsExploreView = new EnergyConsumptionExploreView("{{ g.campaign_ctxt.tz_name }}");
        energyConsExploreView.mount();

    });
</script>
{% endfilter %}
{% endblock body_scripts %}