{% import "macros/components/ts_selector.html" as mac_ts_selector %}
{% extends "pages/base.html" %}

{% set title = "Energy consumption" %}
{% set subtitle = "Analysis setup" %}

{% set is_editable = signed_user.is_admin %}

{% block main_toolbar %}
{{ super() -}}
{% filter indent(width=20, first=True) %}
<a href="{{ url_for('analysis.energy_consumption.explore') }}" class="btn btn-sm btn-outline-secondary text-nowrap" title="Back to energy consumption analysis"><i class="bi bi-arrow-return-left"></i> Back to analysis</a>
{% endfilter %}
{% endblock main_toolbar %}

{% block main_content %}
{{ super() -}}
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h5>{{ structural_element.type | capitalize }} {{ structural_element.name }} - energy consumption timeseries</h5>
            <div class="table-responsive-xl">
                <table class="table table-sm table-bordered caption-top" id="configTable">
                    <caption class="text-end">
                        <small><app-items-count id="itemsCount" first-item="1" last-item="{{ ener_cons_config | length }}" total-count="{{ ener_cons_config | length }}"></app-items-count></small>
                    </caption>
                    <thead>
                        <tr>
                            <th scope="col" rowspan="2" class="text-center align-middle w-25">Energy source</th>
                            <th scope="col" colspan="{{ all_energy_end_uses | length }}" class="text-center">Energy end uses</th>
                        </tr>
                        <tr>
                            {% for energy_end_use_id, energy_end_use_name in all_energy_end_uses.items() %}
                            <th scope="col" class="text-center">{{ energy_end_use_name }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody class="table-group-divider">
                    </tbody>
                    {% if is_editable %}
                    <tfoot>
                        <tr class="align-middle">
                            <td class="text-center text-nowrap">
                                <div class="dropdown my-2">
                                    <button class="btn btn-sm btn-outline-primary dropdown-toggle" type="button" id="addEnergySourceBtn" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="bi bi-plus-circle"></i> Add an energy source
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="addEnergySourceBtn"></ul>
                                    <sup class="ms-2"><a class="link-secondary" title="Help" role="button" data-bs-toggle="collapse" data-bs-target="#addEnergySourceHelpCollapsePanel" aria-expanded="false" aria-controls="addEnergySourceHelpCollapsePanel"><i class="bi bi-question-diamond"></i></a></sup>
                                </div>
                            </td>
                            <td colspan="{{ all_energy_end_uses | length }}" class="p-2">
                                <div class="collapse" id="addEnergySourceHelpCollapsePanel">
                                    <div class="alert alert-info mb-0 pb-0" role="alert" style="max-width: 700px;">
                                        <span class="fw-bold"><i class="bi bi-question-diamond"></i> Help</span>
                                        <p>You can <span class="fw-bold">add an energy source</span> to select the <span class="fw-bold">timeseries that defines energy end uses</span>.</p>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tfoot>
                    {% endif %}
                </table>
            </div>
        </div>
    </div>
</div>
{% if is_editable %}
<div class="modal fade" id="selectTimeseries" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="selectTimeseriesLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="selectTimeseriesLabel">Energy consumption configuration [<span id="editedEnergySourceName"></span>] [<span id="editedEnergyUseName"></span>]</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {% filter indent(width=16, first=False) %}
                {{ mac_ts_selector.render_ts_selector(element_id="tsSelectorConfig", selection_limit=1, filters={structural_element.type: structural_element.id, "extend": True}) -}}
                {% endfilter %}
                <input type="hidden" id="editedEnergySource">
                <input type="hidden" id="editedEnergyUse">
            </div>
            <div class="modal-footer d-flex justify-content-end gap-2">
                <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-dismiss="modal">Cancel</button>
                <button id="saveSelectedTimeseriesBtn" type="button" class="btn btn-sm btn-primary" disabled><i class="bi bi-save"></i> Save</button>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock main_content %}

{% block body_scripts %}
{{ super() -}}
{% filter indent(width=8, first=True) %}
<script type="module">
    import "{{ url_for('static', filename='scripts/modules/components/itemsCount.js') }}";
    import { EnergyConsumptionSetupView } from "{{ url_for('static', filename='scripts/modules/views/analysis/energyConsumption/setup.js') }}";


    document.addEventListener("DOMContentLoaded", () => {

        let view = new EnergyConsumptionSetupView(
            {{ structural_element | tojson }},
            {{ ener_cons_config | tojson }},
            {{ all_energy_sources | tojson }},
            {{ all_energy_end_uses | tojson }},
            {{ available_energy_sources | tojson }},
            {{ is_editable | tojson }},
        );
        view.refresh();

    });
</script>
{% endfilter %}
{% endblock body_scripts %}