{% extends "pages/base.html" %}

{% set title = "Explore sites" %}

{% block main_content %}
{{ super() -}}
<div class="container-fluid">
    <div class="row d-xl-flex d-grid mb-3 mb-xl-0 h-100">
        <div class="col col-xl-6 pb-3 pb-xl-0">
            <ul class="nav nav-tabs app-tabs" id="tabSites" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link{% if tab == 'sites' %} active{% endif %}" id="sites-tab" data-bs-toggle="tab" data-bs-target="#sites-tabcontent" type="button" role="tab" aria-controls="sites-tabcontent" aria-selected="{% if tab == 'sites' %}true{% else %}false{% endif %}"><i class="bi bi-building"></i> Sites / Buildings...</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link{% if tab == 'zones' %} active{% endif %}" id="zones-tab" data-bs-toggle="tab" data-bs-target="#zones-tabcontent" type="button" role="tab" aria-controls="zones-tabcontent" aria-selected="{% if tab == 'zones' %}true{% else %}false{% endif %}"><i class="bi bi-bullseye"></i> Zones</button>
                </li>
            </ul>
            <div class="tab-content app-tab-content overflow-auto border border-top-0 bg-white" id="tabSitesContent">
                <div class="tab-pane fade{% if tab == 'sites' %} show active{% endif %} p-3" id="sites-tabcontent" role="tabpanel" aria-labelledby="sites-tab">
                    <app-tree id="sitesTree"></app-tree>
                </div>
                <div class="tab-pane fade{% if tab == 'zones' %} show active{% endif %} p-3" id="zones-tabcontent" role="tabpanel" aria-labelledby="zones-tab">
                    <app-tree id="zonesTree" toolbar="false"></app-tree>
                </div>
            </div>
        </div>
        <div class="col">
            <ul class="nav nav-tabs app-tabs" id="tabProperties" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="general-tab" data-bs-toggle="tab" data-bs-target="#general-tabcontent" type="button" role="tab" aria-controls="general-tabcontent" aria-selected="true">General</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="properties-tab" data-bs-toggle="tab" data-bs-target="#properties-tabcontent" type="button" role="tab" aria-controls="properties-tabcontent" aria-selected="false">Properties</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="timeseries-tab" data-bs-toggle="tab" data-bs-target="#timeseries-tabcontent" type="button" role="tab" aria-controls="timeseries-tabcontent" aria-selected="false">Timeseries</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="events-tab" data-bs-toggle="tab" data-bs-target="#events-tabcontent" type="button" role="tab" aria-controls="events-tabcontent" aria-selected="false">Events</button>
                </li>
            </ul>
            <div class="tab-content app-tab-content overflow-auto border border-top-0 bg-white" id="tabPropertiesContent">
                <div class="tab-pane fade show active p-3" id="general-tabcontent" role="tabpanel" aria-labelledby="general-tab"></div>
                <div class="tab-pane fade p-3" id="properties-tabcontent" role="tabpanel" aria-labelledby="properties-tab"></div>
                <div class="tab-pane fade p-3" id="timeseries-tabcontent" role="tabpanel" aria-labelledby="timeseries-tab">
                    <div class="row mb-1">
                        <div class="col">
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" role="switch" id="tsRecurseSwitch">
                                <label class="form-check-label" for="tsRecurseSwitch">extend search to sub-locations</label>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="d-flex align-items-center gap-2">
                            <label class="form-label m-0" for="search">Search</label>
                            <input type="text" class="form-control form-control-sm" id="tsSearch" name="tsSearch" placeholder="Name..." autofocus>
                            <a id="tsClear" role="button" class="link-danger text-decoration-none mx-1 d-none invisible" title="Clear search filter"><i class="bi bi-x-circle"></i></a>
                        </div>
                    </div>
                    <nav class="row" aria-label="Timeseries pagination">
                        <div class="col-auto align-self-center py-1">
                            <div is="app-pagesize-selector" id="tsPageSize"></div>
                        </div>
                        <div class="col d-flex flex-wrap justify-content-end align-items-center gap-2">
                            <small class="text-nowrap text-muted"><app-items-count id="tsCount"></app-items-count></small>
                            <ul is="app-pagination" id="tsPagination"></ul>
                        </div>
                    </nav>
                    <div id="tsList" class="list-group py-2"></div>
                </div>
                <div class="tab-pane fade p-3" id="events-tabcontent" role="tabpanel" aria-labelledby="events-tab">
                    <div class="row mb-1">
                        <div class="col">
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" role="switch" id="eventsRecurseSwitch">
                                <label class="form-check-label" for="eventsRecurseSwitch">extend search to sub-locations</label>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="d-flex align-items-center gap-2">
                            <label class="form-label m-0" for="search">Search</label>
                            <input type="text" class="form-control form-control-sm" id="eventsSearch" name="eventsSearch" placeholder="Source..." autofocus>
                            <a id="eventsClear" role="button" class="link-danger text-decoration-none mx-1 d-none invisible" title="Clear search filter"><i class="bi bi-x-circle"></i></a>
                        </div>
                    </div>
                    <nav class="row" aria-label="Events pagination">
                        <div class="col-auto align-self-center py-1">
                            <div is="app-pagesize-selector" id="eventsPageSize"></div>
                        </div>
                        <div class="col d-flex flex-wrap justify-content-end align-items-center gap-2">
                            <small class="text-nowrap text-muted"><app-items-count id="eventsCount"></app-items-count></small>
                            <ul is="app-pagination" id="eventsPagination"></ul>
                        </div>
                    </nav>
                    <div id="eventsList" class="list-group py-2"></div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock main_content %}

{% block body_scripts %}
{{ super() -}}
{% filter indent(width=8, first=True) %}
<script type="module">
    import { StructuralElementsExploreView } from "{{ url_for('static', filename='scripts/modules/views/structuralElements/explore.js') }}";


    document.addEventListener("DOMContentLoaded", () => {

        let options = {
            timezone: {{ g.campaign_ctxt.tz_name | tojson }},
        };

        let structuralElmts = new StructuralElementsExploreView(options);
        structuralElmts.refresh();

    });
</script>
{% endfilter %}
{% endblock body_scripts %}