{% extends "pages/base.html" %}

{% set title = "Timeseries property" %}
{% set subtitle = "Edit" %}

{% block main_toolbar %}
{{ super() -}}
{% filter indent(width=20, first=True) %}
<form id="delForm" action="{{ url_for('timeseries.properties.delete', id=property.id) }}" method="POST" data-modal-confirm-message="Delete &lt;mark&gt;{{ property.name }}&lt;/mark&gt; timeseries property">
    <input type="hidden" form="delForm" id="delEtag" name="delEtag" value="{{ etag }}">
    <button type="submit" form="delForm" class="btn btn-sm btn-outline-danger text-nowrap" title="Delete"><i class="bi bi-trash"></i> Delete</button>
</form>
{% endfilter %}
{% endblock main_toolbar %}

{% block main_content %}
{{ super() -}}
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <fieldset>
                <legend class="invisible d-none">Timeseries property informations</legend>
                <div class="mb-3">
                    <label class="form-label" for="name">Name</label>
                    <input type="text" form="editForm" class="form-control" id="name" name="name" minlength="1" maxlength="80" value="{{ property.name }}" required autofocus>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="value_type">Type</label>
                    <input type="text" class="form-control" id="value_type" name="value_type" value="{{ property.value_type }}" readonly>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="unit_symbol">Unit symbol</label>
                    <input form="editForm" type="text" class="form-control" id="unit_symbol" name="unit_symbol" minlength="1" maxlength="20" value="{{ property.unit_symbol }}">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="description">Description</label>
                    <textarea form="editForm" class="form-control" id="description" name="description" maxlength="250" rows="3">{{ property.description }}</textarea>
                </div>
                <div class="d-flex justify-content-end gap-2">
                    <a href="{{ url_for('timeseries.properties.list') }}" class="btn btn-sm btn-outline-secondary text-break" title="Cancel">Cancel</a>
                    <form id="editForm" action="{{ url_for('timeseries.properties.edit', id=property.id) }}" method="POST">
                        <input type="hidden" form="editForm" id="editEtag" name="editEtag" value="{{ etag }}">
                        <button type="submit" form="editForm" class="btn btn-sm btn-primary text-break" title="Save"><i class="bi bi-save"></i> Save</button>
                    </form>    
                </div>
            </fieldset>
        </div>
    </div>
</div>
{% endblock main_content %}