{% extends "pages/base.html" %}

{% set title = "Cleanup service" %}

{% block main_content %}
{{ super() -}}
<div class="container-fluid">
    <div class="row g-5 mb-3">
        <div class="col">
            <div class="d-flex align-items-start gap-3">
                <h5>Campaign</h5>
                <span class="fw-bold text-{% if cleanup_campaign.campaign_state == 'ongoing' %}success{% else %}danger{% endif %} text-opacity-75">[{{ cleanup_campaign.campaign_state | upper }}]</span>
            </div>
            <p class="text-break">{{ cleanup_campaign.campaign_name }}</p>
        </div>
        <div class="col">
            <h5>Service state</h5>
            {% if signed_user.is_admin %}
            <input type="radio" class="btn-check" name="svc_state" id="svc_state_on" autocomplete="off"{% if cleanup_campaign.is_enabled %} checked{% endif %}>
            <label class="btn btn-outline-success" for="svc_state_on">ON</label>
            <input type="radio" class="btn-check" name="svc_state" id="svc_state_off" autocomplete="off"{% if not cleanup_campaign.is_enabled %} checked{% endif %}>
            <label class="btn btn-outline-danger" for="svc_state_off">OFF</label>
            <input type="hidden" name="cleanup_id" id="cleanup_id"{% if cleanup_campaign.id is not none %} value="{{ cleanup_campaign.id }}"{% endif %}>
            <input type="hidden" name="campaign_id" id="campaign_id"{% if cleanup_campaign.campaign_id is not none %} value="{{ cleanup_campaign.campaign_id }}"{% endif %}>
            <input type="hidden" name="etag" id="etag" value="{{ etag }}">
            {% else %}
            {% if cleanup_campaign.is_enabled %}
            <span class="fw-bold text-success text-opacity-75">ON</span>
            {% else %}
            <span class="fw-bold text-danger text-opacity-75">OFF</span>
            {% endif %}
            {% endif %}
        </div>
    </div>
    <div class="row mb-3">
        <div class="col"> 
            <div class="d-flex justify-content-between align-items-center">
                <form id="formFiltersElmt" class="d-lg-flex d-grid gap-2" action="{{ url_for(request.endpoint) }}" method="POST">
                    <input type="hidden" name="sort" id="sort" value="{{ sort }}">
                    <label class="form-label text-nowrap text-muted mb-0" for="sort">Sort by</label>
                    <input type="radio" class="btn-check" name="sort" id="sort-timeseries_name-asc" autocomplete="off" {% if sort == "+timeseries_name" %} checked{% endif %}>
                    <label class="btn btn-sm btn-outline-info" for="sort-timeseries_name-asc" title="Name alphabetical order"><i class="bi bi-sort-alpha-down"></i> Name</label>
                    <input type="radio" class="btn-check" name="sort" id="sort-timeseries_name-desc" autocomplete="off" {% if sort == "-timeseries_name" %} checked{% endif %}>
                    <label class="btn btn-sm btn-outline-info" for="sort-timeseries_name-desc" title="Name reverse alphabetical order"><i class="bi bi-sort-alpha-up"></i> Name</label>
                    <input type="radio" class="btn-check" name="sort" id="sort-last_timestamp-asc" autocomplete="off"{% if sort == "+last_timestamp" %} checked{% endif %}>
                    <label class="btn btn-sm btn-outline-info" for="sort-last_timestamp-asc" title="Timestamp date order"><i class="bi bi-sort-numeric-down"></i> Timestamp</label>
                    <input type="radio" class="btn-check" name="sort" id="sort-last_timestamp-desc" autocomplete="off"{% if sort == "-last_timestamp" %} checked{% endif %}>
                    <label class="btn btn-sm btn-outline-info" for="sort-last_timestamp-desc" title="Timestamp reverse date order"><i class="bi bi-sort-numeric-up"></i> Timestamp</label>
                </form>
                <small class="text-nowrap text-muted">
                    <app-items-count first-item="1" last-item="{{ cleanup_timeseries | length }}" total-count="{{ cleanup_timeseries | length }}"></app-items-count>
                </small>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="table-responsive-xl">
                <table class="table table-sm table-hover table-bordered caption-top">
                    <thead>
                        <tr>
                            <th scope="col" colspan="2">Timeseries</th>
                            <th scope="col">Cleanup</th>
                        </tr>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Unit</th>
                            <th scope="col">Last timestamp</th>
                        </tr>
                    </thead>
                    <tbody class="table-group-divider">
                        {% for cleanup_ts in cleanup_timeseries %}
                        <tr class="align-middle">
                            <th scope="row" class="text-break">{{ cleanup_ts.timeseries_name }}</th>
                            <td>{{ cleanup_ts.timeseries_unit_symbol }}</td>
                            {% if cleanup_ts.id is not none %}
                            <td{% if cleanup_ts.last_timestamp is none %} class="table-warning"{% endif %}>
                                {{ cleanup_ts.last_timestamp | iso_datetime_format(tz_name=cleanup_campaign.campaign_timezone, default="NULL") }}
                            </td>
                            {% else %}
                            <td class="table-warning">Not cleaned yet</td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock main_content %}

{% block body_scripts %}
{{ super() -}}
{% if signed_user.is_admin %}
{% filter indent(width=8, first=True) %}
<script type="module" src="{{ url_for('static', filename='scripts/modules/views/services/cleanupManage.js') }}"></script>
{% endfilter %}
{% endif %}
{% endblock body_scripts %}