{% set FLASH_MESSAGE_DATA = {
    "message": {
        "css": "primary",
        "icon": "chat-text",
    },
    "info": {
        "css": "info",
        "icon": "info-square",
    },
    "warning": {
        "css": "warning",
        "icon": "exclamation-triangle",
    },
    "error": {
        "css": "danger",
        "icon": "x-octagon",
    },
    "success": {
        "css": "success",
        "icon": "check-circle",
    },
} %}

{% macro _display_validation_errors() %}
{% set validation_errors = session.pop("_validation_errors", {}) %}
{% if validation_errors|length > 0 %}
<p class="mt-3 mb-0">Validation errors</p>
{% set general_errors = validation_errors.pop("_general", []) %}
{% if general_errors | length > 0 %}
{% for general_error in general_errors %}
<p class="fst-italic mb-0">{{ general_error }}</p>
{% endfor %}
{% endif %}
<dl class="row ms-2 mb-0">
    {% for field_name, field_errors in validation_errors.items() %}
    <dt class="col-4">{{ field_name }}</dt>
    <dd class="col-8{% if loop.last %} mb-0{% endif %}">
        {% if field_errors | is_dict %}
        {% for field_error_infos in field_errors.values() %}
        {% for field_error_info in field_error_infos %}
        <p class="fst-italic mb-0">{{ field_error_info }}</p>
        {% endfor %}
        {% endfor %}
        {% else %}
        {% for field_error in field_errors %}
        <p class="fst-italic mb-0">{{ field_error }}</p>
        {% endfor %}
        {% endif %}
    </dd>
    {% endfor %}
</dl>
{% endif %}
{% endmacro %}

{% macro display_messages() %}
{% for category, message in get_flashed_messages(with_categories=True) %}
<div class="alert alert-{{ FLASH_MESSAGE_DATA[category]['css'] }} alert-dismissible fade show shadow p-0" role="alert">
    <div class="progress" style="height: 2px;">
        <div class="progress-bar bg-{{ FLASH_MESSAGE_DATA[category]['css'] }} bg-opacity-75" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <div class="p-3 me-4">
        <div class="hstack align-items-start gap-2">
            <i class="bi bi-{{ FLASH_MESSAGE_DATA[category]['icon'] }}"></i>
            <div class="text-break">{{ message|safe }}</div>
        </div>
        {{- _display_validation_errors() }}
    </div>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
{% endmacro %}
