{%- set FLASH_MESSAGE_DATA = {
    "message": {
        "css": "primary",
        "icon": "chat-text",
    },
    "info": {
        "css": "info",
        "icon": "info-square",
    },
    "warning": {
        "css": "warning",
        "icon": "exclamation-triangle",
    },
    "error": {
        "css": "danger",
        "icon": "x-octagon",
    },
    "success": {
        "css": "success",
        "icon": "check-circle",
    },
} -%}

{%- macro display_messages() -%}
    {%- for category, message in get_flashed_messages(with_categories=True) %}
        <div class="alert alert-{{ FLASH_MESSAGE_DATA[category]['css'] }} alert-dismissible fade show" role="alert">
            <i class="bi bi-{{ FLASH_MESSAGE_DATA[category]['icon'] }} me-2"></i>
            {{ message|safe }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {%- endfor %}
{%- endmacro -%}
