{% macro render_tree(tree_id, tree_data) %}
<div id="{{ tree_id }}" class="nav-tree" style="max-width: 400px;">
    {% if tree_data|length > 0 %}
    {% filter indent(width=4) %}
    {{ _render_tree_nodes(tree_data) -}}
    {% endfilter %}
    {% else %}
    <p>No data</p>
    {% endif %}
</div>
{% endmacro %}

{% macro _render_tree_nodes(nodes, parent_id="", level=0, indent_width=0) %}
{% filter indent(width=indent_width) %}
<ul class="mb-0 collapse{% if level == 0 %} show{% endif %}" id="level-{{ level }}{% if parent_id %}-{{ parent_id  }}{% endif%}">
    {% for node in nodes %}
    {% set has_children = node.nodes|length > 0 %}
    <li class="nav-tree-item text-truncate m-1">
        {% if has_children %}
        <a class="nav-tree-item-icon" data-bs-toggle="collapse" data-bs-target="#level-{{ level + 1 }}-{{ node.id }}"><i class="bi bi-folder-plus"></i></a>
        {% else %}
        <i class="bi bi-folder"></i>
        {% endif %}
        <a class="nav-tree-item-link rounded px-2 py-1" title="{{ node.full_path }}" id="{{ node.node_id }}" data-tree-item-type="{{ node.type }}" data-tree-item-id="{{ node.id }}" data-tree-item-path="{{ node.path }}" draggable="{{ node.is_draggable | lower }}">{{ node.name }}</a>
        {% if has_children %}
        {{ _render_tree_nodes(node.nodes, node.id|string, level=level+1, indent_width=8) -}}
        {% endif %}
    </li>
    {% endfor %}
</ul>
{% endfilter %}
{% endmacro %}
