@import url("./tree.css");
@import url("./dragndrop.css");


:root {
    --app-blue: #0088bd;
    --app-blue-rgb: 0, 136, 189;
    --app-blue-200: rgba(0, 136, 189, 0.2);
    --app-blue-100: rgba(0, 136, 189, 0.1);
    --app-blue-50: rgba(0, 136, 189, 0.05);
    --app-green: #95c11a;
    --app-green-rgb: 149, 193, 26;
    --app-white: #ffffff;
    --app-white-0: rgba(255, 255, 255, 0);
    --app-white-300: rgba(255, 255, 255, 0.3);
    --app-white-500: rgba(255, 255, 255, 0.5);
    --app-white-700: rgba(255, 255, 255, 0.7);
    --app-gray: #6e8a98;
    --app-body-bg: #f5f5f5;
    --app-body-color: #474747;
    --bs-link-color: var(--app-blue);
    --app-sidebar-bg: #f3f8e9;
    --app-header-height: 60px;
    --app-min-width: 420px;
}

html,
body {
    background-color: var(--app-body-bg) !important;
    color: var(--app-body-color) !important;
}

h1 {
    color: var(--app-gray);
}
h2 {
    color: var(--app-green);
}

input:invalid:not(:focus) {
    border-color: var(--bs-danger);
    border-left-width: 8px;
    background-color: rgba(var(--bs-danger-rgb), 0.05);
}

.vr {
    color: var(--app-gray) !important;
}

.badge.bg-primary {
    background-color: rgba(var(--app-blue-rgb), var(--bs-bg-opacity)) !important;
}

.badge.bg-secondary {
    background-color: rgba(var(--app-green-rgb), var(--bs-bg-opacity)) !important;
}

.text-primary {
    color: rgba(var(--app-blue-rgb), var(--bs-text-opacity)) !important;
}

.text-secondary {
    color: rgba(var(--app-green-rgb), var(--bs-text-opacity)) !important;
}

.form-check-input:checked
{
    background-color: var(--app-blue) !important;
    border-color: var(--app-blue) !important;
}
.form-check-input:focus
{
    border-color: var(--app-blue) !important;
    box-shadow: 0 0 0 .25rem rgba(var(--app-blue-rgb), 0.25) !important;
}
.form-check-input:not(:checked):focus
{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba%280, 0, 0, 0.25%29'/%3e%3c/svg%3e") !important;
}

.accordion .accordion-button.collapsed:hover,
.list-group .list-group-item-action:hover {
    background-color: var(--bs-gray-200) !important;
}

.accordion .accordion-button:not(.collapsed) {
    background-color: var(--app-green) !important;
}

.accordion .accordion-button:not(.collapsed)::after {
    background-color: var(--app-white-700) !important;
    border-radius: 4px;
}

.accordion .accordion-button:not(.collapsed) * {
    color: var(--app-white) !important;
}

.page-item.active .page-link {
    background-color: var(--app-blue) !important;
    border-color: var(--app-blue) !important;
}

.dropdown .dropdown-item.active,
.dropdown .dropdown-item:hover,
.dropdown .dropdown-item:focus,
.dropdown-menu .dropdown-item:hover,
.dropdown-menu .dropdown-item:focus {
    background-color: var(--app-blue);
    color: var(--app-white);
}

body,
.app-header {
    min-width: var(--app-min-width);
}

.app-header .app-logo,
.app-header .app-logo-partner {
    max-height: 40px !important;
}
.app-header .app-logo {
    min-width: 75px !important;
    max-width: 150px !important;
}
.app-logo {
    min-width: 200px !important;
    max-width: 50% !important;
}

.app-header,
.app-sidebar {
    background-color: var(--app-sidebar-bg) !important;
}

.app-content {
    padding-top: 60px;
}

.app-sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 68px 8px 8px 8px; /* Height of navbar */
    overflow: auto !important;
}

@media (width < 768px) {
    .app-sidebar {
        top: 0;
        left: 0;
        width: 300px;
    }
}

@media (width >= 768px) {
    #sidebarToggler {
        visibility: hidden;
    }

    .app-tab-content {
        min-height: 400px;
    }
}

.app-sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
}

.app-sidebar .nav-link {
    color: inherit;
}
.app-sidebar .nav-link.disabled {
    color: var(--bs-gray-600);
}

.app-sidebar .nav-link:hover {
    color: var(--app-white);
}

.app-sidebar .nav-link:hover,
.app-sidebar .nav-link.active {
    background-color: var(--app-blue) !important;
}

.app-sidebar .nav-link img {
    height: 20px !important;
    width: 20px !important;
}

.accordion.app-sidebar-accordion .accordion-item {
    background-color: inherit !important;
}

.accordion.app-sidebar-accordion .accordion-button {
    background-color: var(--app-white-300) !important;
}

.accordion.app-sidebar-accordion .accordion-body {
    background-color: var(--app-white-500) !important;
}

.accordion.app-sidebar-accordion .accordion-button:not(.collapsed) {
    background-color: var(--app-white-0) !important;
}

.accordion.app-sidebar-accordion .accordion-button:not(.collapsed) * {
    color: inherit !important;
}

.navbar .navbar-toggler {
    top: .25rem;
    right: 1rem;
}

@media (width < 400px) {
    .navbar {
        position: absolute !important;
    }
}

.app-campaign-selected {
    background-color: var(--app-blue-100) !important;
    border-color: var(--app-blue) !important;
}

.app-tabs .nav-item .nav-link:not(.active):not(.disabled) {
    border-left-color: var(--app-blue-100);
    border-top-color: var(--app-blue-100);
    border-right-color: var(--app-blue-100);
    background-color: var(--app-blue-50) !important;
}

.app-tabs .nav-item:hover .nav-link:not(.active):not(.disabled) {
    background-color: var(--app-blue) !important;
    border-bottom-color: var(--app-blue);
}

.app-tabs .nav-item:hover .nav-link:not(.active):not(.disabled) {
    color: var(--app-white) !important;
}

.app-spinner {
    color: var(--app-green) !important;
}
.app-spinner-secondary {
    color: var(--app-blue) !important;
}

@media (max-width: 992px) {
    .app-panel-collapse .app-panel-collapse-body:first-child {
        width: 100% !important;
    }
}

@media (min-width: 1200px) {
    .app-panel-collapse .app-panel-collapse-body:first-child {
        width: 400px !important;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    .app-panel-collapse .app-panel-collapse-body:first-child {
        width: 300px !important;
    }
}

.app-table-tr-selected > * {
    background-color: var(--bs-table-hover-bg) !important;
    color: var(--bs-table-hover-color) !important;
}

.app-border-dashed {
    border-style: dashed !important;
}

.app-border-dotted {
    border-style: dotted !important;
}

@keyframes ring {
	0% { transform: rotate(0); }
	1% { transform: rotate(30deg); }
	3% { transform: rotate(-28deg); }
	5% { transform: rotate(34deg); }
	7% { transform: rotate(-32deg); }
	9% { transform: rotate(30deg); }
	11% { transform: rotate(-28deg); }
	13% { transform: rotate(26deg); }
	15% { transform: rotate(-24deg); }
	17% { transform: rotate(22deg); }
	19% { transform: rotate(-20deg); }
	21% { transform: rotate(18deg); }
	23% { transform: rotate(-16deg); }
	25% { transform: rotate(14deg); }
	27% { transform: rotate(-12deg); }
	29% { transform: rotate(10deg); }
	31% { transform: rotate(-8deg); }
	33% { transform: rotate(6deg); }
	35% { transform: rotate(-4deg); }
	37% { transform: rotate(2deg); }
	39% { transform: rotate(-1deg); }
	41% { transform: rotate(1deg); }
	43% { transform: rotate(0); }
	100% { transform: rotate(0); }
}

.app-notif-animate {
    position: absolute;
    top: 0;
    right: 0;
    animation: ring 8s 1s ease-in-out infinite;
}

.app-chart-settings-panel {
    top: var(--app-header-height) !important;
    width: 66% !important;
}
@media (max-width: 767.98px) {
    .app-chart-settings-panel {
        width: 100% !important;
    }
}
@media (min-width: 768px) and (max-width: 991.98px) {
    .app-chart-settings-panel {
        width: 75% !important;
    }
}

@keyframes target-highlight {
    0% { background-color: rgba(var(--app-green-rgb), .8); }
    100% { background-color: rgba(var(--app-green-rgb), 0); }
}

.app-target-highlight {
    border-radius: var(--bs-border-radius) !important;
    animation: target-highlight 3s 1s ease-in-out infinite;
}
