* {
    padding: 0;
    margin: 0;
}

html,
body {
    height: 100%;
}

/* Firefox */
input[type=number].input-number-hide-arrows {
    -moz-appearance: textfield;
    appearance: textfield;
}
/* Chrome, Safari, Edge, Opera */
input[type=number].input-number-hide-arrows::-webkit-outer-spin-button,
input[type=number].input-number-hide-arrows::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@keyframes fadeIn {
    to {
      opacity: 1;
    }
}
  
.fade-in {
    opacity: 0;
    animation: fadeIn .5s ease-in 1 forwards;
}

.app-flash-message {
    width: 50vw !important;
}
.app-flash-message .progress {
    height: 2px !important;
}
