.nav-tree ul {
    list-style-type: none;
    list-style-position: inside;
}

.nav-tree > ul {
    padding-left: 0 !important;
}

.nav-tree-item-icon,
.nav-tree-item-link {
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}

.nav-tree-item-link:hover,
.nav-tree-item-link.active,
.nav-tree-item-link.dragging {
    background-color: var(--app-blue);
    color: var(--app-white);
}

.nav-tree-item-link[draggable=true] {
    cursor: grab;
}

.nav-tree-item-link.dragging {
    cursor: grabbing;
    opacity: 0.4;
}

.nav-tree-item-link.disabled {
    color: var(--bs-gray-700) !important;
    font-style: italic;
}

.nav-tree-item-link.disabled:hover {
    color: var(--bs-gray-700) !important;
    background-color: var(--bs-gray-400) !important;
}
