{% extends "pages/base.html" %}

{% set title = "Event levels" %}

{% block main_content %}
{{ super() -}}
<div class="container-fluid">
    <div class="row justify-content-end mb-3">
        <div class="col-auto">
            <small class="text-nowrap text-muted"><app-items-count first-item="1" last-item="{{ event_levels | length }}" total-count="{{ event_levels | length }}"></app-items-count></small>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="list-group">
                {% for x in event_levels %}
                <div class="list-group-item d-flex justify-content-between align-items-center gap-4 py-2">
                    <div class="d-flex align-items-center gap-2">
                        <i class="bi bi-tag"></i>
                        <h6 class="fw-bold text-break mb-0">{{ x.name }}</h6>
                    </div>
                    <span class="fst-italic text-muted">{{ x.description }}</span>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock main_content %}

{% block body_scripts %}
{{ super() -}}
{% filter indent(width=8, first=True) %}
<script type="module" src="{{ url_for('static', filename='scripts/modules/components/itemsCount.js') }}"></script>
{% endfilter %}
{% endblock body_scripts %}