{% extends "pages/base.html" %}

{% set title = "User groups" %}

{% block main_toolbar %}
{{ super() -}}
{% filter indent(width=20, first=True) %}
<a href="{{ url_for('user_groups.create') }}" class="btn btn-sm btn-outline-primary text-nowrap" title="Add a new user group"><i class="bi bi-plus-circle"></i> New user group</a>
{% endfilter %}
{% endblock main_toolbar %}

{% block main_content %}
{{ super() -}}
<div class="container-fluid">
    <div class="row justify-content-end mb-3">
        <div class="col-auto">
            <small class="text-nowrap text-muted"><app-items-count first-item="1" last-item="{{ user_groups | length }}" total-count="{{ user_groups | length }}"></app-items-count></small>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="list-group">
                {% for x in user_groups %}
                <a class="list-group-item list-group-item-action d-flex gap-3 py-3" href="{{ url_for('user_groups.view', id=x.id) }}" title="View user group">
                    <i class="bi bi-person-rolodex"></i>
                    <div class="d-flex gap-2 w-100 justify-content-between">
                        <div>
                            <h6 class="fw-bold mb-0">{{ x.name }}</h6>
                        </div>
                    </div>
                </a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock main_content %}

{% block body_scripts %}
{{ super() -}}
{% filter indent(width=8, first=True) %}
<script type="module" src="{{ url_for('static', filename='scripts/modules/components/itemsCount.js') }}"></script>
{% endfilter %}
{% endblock body_scripts %}