{% extends "pages/base.html" %}

{% set title = "User groups" %}

{% block main_toolbar %}
{{ super() -}}
{% filter indent(width=20, first=True) %}
<div class="d-xs-flex d-grid justify-content-center gap-2 mx-auto">
    <a href="{{ url_for('user_groups.create') }}" class="btn btn-sm btn-outline-primary" title="Add a new user group"><i class="bi bi-plus-circle"></i> New user group</a>
</div>
{% endfilter %}
{% endblock main_toolbar %}

{% block main_content %}
{{ super() -}}
<div class="container-fluid">
    <div class="row justify-content-end mb-3">
        <div class="col-auto">
            Current items count: <span class="fw-bold">{{ user_groups|length }}</span>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="list-group">
                {% for x in user_groups %}
                <a class="list-group-item list-group-item-action d-flex gap-3 py-3" href="{{ url_for('user_groups.manage', id=x.id) }}" title="Manage user group">
                    <i class="bi bi-person-rolodex"></i>
                    <div class="d-flex gap-2 w-100 justify-content-between">
                        <div>
                            <h6 class="fw-bold mb-0">{{ x.name }}</h6>
                        </div>
                    </div>
                </a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock main_content %}