{% extends "pages/base.html" %}

{% set title = "View user group" %}

{% block main_content %}
{{ super() -}}
<div class="container-fluid">
    <div class="row mb-3">
        <div class="col">
            <dl>
                <dt>Name</dt>
                <dd>{{ user_group.name }}</dd>
                <dt>Users <span class="badge bg-primary">{{ users|length }}</span></dt>
                <dd>
                    {% if users|length > 0 %}
                    <div class="list-group list-group-horizontal d-flex flex-wrap mt-1">
                        {% for x in users %}
                        {% if signed_user.is_admin %}
                        <a href="{{ url_for('users.view', id=x.id) }}" class="list-group-item list-group-item-action w-auto" title="View details">{{ x.name }}</a>
                        {% else %}
                        {{ x.name }}
                        {% endif %}
                        {% endfor %}
                    </div>
                    {% else %}
                    <span class="fst-italic text-muted">none</span>
                    {% endif %}
                </dd>
            </dl>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="d-flex justify-content-between gap-4">
                {% if signed_user.is_admin %}
                <form id="delForm" action="{{ url_for('user_groups.delete', id=user_group.id) }}" method="POST" data-delete-confirm="{{ user_group.name }} user group">
                    <input type="hidden" form="delForm" id="delEtag" name="delEtag" value="{{ etag }}">
                    <button type="submit" form="delForm" class="btn btn-sm btn-outline-danger text-break" title="Delete"><i class="bi bi-trash"></i> Delete</button>
                </form>
                {% endif %}
                <div class="d-flex gap-2 ms-auto">
                    <a href="{{ url_for('user_groups.edit', id=user_group.id) }}" class="btn btn-sm btn-outline-primary text-break" role="button" title="Edit"><i class="bi bi-pencil"></i> Edit</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock main_content %}