{% extends "pages/base.html" %}

{% set title = "Create a user" %}

{% block main_content %}
{{ super() -}}
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <form action="{{ url_for('users.create') }}" method="POST">
                <fieldset>
                    <legend class="invisible d-none">User account</legend>
                    <div class="mb-3">
                        <label class="form-label" for="name">Name</label>
                        <input type="text" class="form-control" id="name" name="name" minlength="1" maxlength="80" required autofocus>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="email">Email address</label>
                        <input type="email" class="form-control" id="email" name="email" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="password">Password</label>
                        <input type="password" class="form-control" id="password" name="password" minlength="1" maxlength="80" required>
                    </div>
                    <div class="d-flex justify-content-end gap-2">
                        <a href="{{ url_for('users.list') }}" class="btn btn-sm btn-outline-secondary text-break" title="Cancel">Cancel</a>
                        <button type="submit" class="btn btn-sm btn-primary text-break" title="Save"><i class="bi bi-save"></i> Save</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
{% endblock main_content %}