{% extends "pages/base.html" %}

{% set self_view = signed_user.id == user.id %}
{% set title = "User profile" if not self_view else "My profile" %}
{% if not self_view %}
{% set subtitle = user.name %}
{% endif %}

{% block main_toolbar %}
{{ super() -}}
{% filter indent(width=20, first=True) %}
<div class="d-xs-flex d-grid justify-content-center gap-2 mx-auto">
    <div class="hstack gap-3 mx-auto ms-lg-auto me-lg-0">
        {% if not self_view %}
        <form id="delForm" action="{{ url_for('users.delete', id=user.id) }}" method="POST" data-modal-confirm-message="Delete &lt;mark&gt;{{ user.name }}&lt;/mark&gt;'s account">
            <input type="hidden" form="delForm" id="delEtag" name="delEtag" value="{{ etag }}">
            <button type="submit" form="delForm" class="btn btn-sm btn-outline-danger text-break" title="Delete"><i class="bi bi-trash"></i> Delete</button>
        </form>
        {% endif %}
    </div>
</div>
{% endfilter %}
{% endblock main_toolbar %}

{% block main_content %}
{{ super() -}}
<div class="container-fluid mb-4">
    <div class="row">
        <div class="col">
            <ul class="nav nav-tabs app-tabs" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link{% if tab == 'general' %} active{% endif %}" id="general-tab" data-bs-toggle="tab" data-bs-target="#general-tabcontent" type="button" role="tab" aria-controls="general-tabcontent" aria-selected="{% if tab == 'general' %}true{% else %}false{% endif %}">General</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link{% if tab == 'groups' %} active{% endif %}" id="groups-tab" data-bs-toggle="tab" data-bs-target="#groups-tabcontent" type="button" role="tab" aria-controls="groups-tabcontent" aria-selected="{% if tab == 'groups' %}true{% else %}false{% endif %}">Groups <span class="badge bg-secondary">{{ user_groups|length }}</span></button>
                </li>
            </ul>
            <div class="tab-content app-tab-content overflow-auto border border-top-0 bg-white mb-3">
                <div class="tab-pane fade{% if tab == 'general' %} show active{% endif %} p-3" id="general-tabcontent" role="tabpanel" aria-labelledby="general-tab">
                    <div class="d-flex justify-content-between">
                        <dl>
                            {% if self_view %}
                            <dt>Name</dt>
                            <dd>{{ user.name }}</dd>
                            {% endif %}
                            <dt>Email address</dt>
                            <dd>{{ user.email }}</dd>
                            {% if signed_user.is_admin %}
                            <dt>Is active?</dt>
                            <dd class="d-flex gap-4">
                                {% if user.is_active %}
                                <span class="text-success"><i class="bi bi-hand-thumbs-up"></i> yes</span>
                                {% else %}
                                <span class="text-danger"><i class="bi bi-hand-thumbs-down"></i> no</span>
                                {% endif %}
                                {% if not self_view %}
                                <form id="setStatusForm" action="{{ url_for('users.set_status', id=user.id) }}" method="POST">
                                    <div class="form-check form-switch d-none">
                                        <input class="form-check-input invisible" type="checkbox" role="switch" form="setStatusForm" id="status" name="status"{% if not user.is_active %} checked{% endif %}>
                                        <label class="form-check-label" for="status">{{ "yes" if user.is_active else "no" }}</label>
                                    </div>
                                    <input type="hidden" form="setStatusForm" id="setStatusEtag" name="setStatusEtag" value="{{ etag }}">
                                    <button type="submit" form="setStatusForm" class="btn btn-sm btn-outline-warning text-break" title="Set status"><span class="fw-bold">{% if user.is_active %}Unset{% else %}Set{% endif %}</span> active</button>
                                </form>
                                {% endif %}
                            </dd>
                            <dt>Is admin?</dt>
                            <dd class="d-flex gap-4">
                                {% if user.is_admin %}
                                <span class="text-success"><i class="bi bi-hand-thumbs-up"></i> yes</span>
                                {% else %}
                                <span class="text-danger"><i class="bi bi-hand-thumbs-down"></i> no</span>
                                {% endif %}
                                {% if not self_view %}
                                <form id="setRoleForm" action="{{ url_for('users.set_role', id=user.id) }}" method="POST">
                                    <div class="form-check form-switch d-none">
                                        <input class="form-check-input invisible" type="checkbox" role="switch" form="setRoleForm" id="admin" name="admin"{% if not user.is_admin %} checked{% endif %}>
                                        <label class="form-check-label" for="admin">{{ "yes" if user.is_admin else "no" }}</label>
                                    </div>
                                    <input type="hidden" form="setRoleForm" id="setRoleEtag" name="setRoleEtag" value="{{ etag }}">
                                    <button type="submit" form="setRoleForm" class="btn btn-sm btn-outline-warning text-break" title="Set admin"><span class="fw-bold">{% if user.is_admin %}Unset{% else %}Set{% endif %}</span> admin</button>
                                </form>
                                {% endif %}
                            </dd>
                            {% endif %}
                        </dl>
                        <div>
                            <a href="{{ url_for('users.edit', id=user.id) }}" class="btn btn-sm btn-outline-primary text-break" role="button" title="Edit"><i class="bi bi-pencil"></i> Edit</a>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade{% if tab == 'groups' %} show active{% endif %} p-3" id="groups-tabcontent" role="tabpanel" aria-labelledby="groups-tab">
                    <div class="d-lg-flex flex-nowrap d-grid justify-content-lg-between gap-3">
                        <div class="order-1 order-lg-0">
                            {% if user_groups|length > 0 %}
                            <div class="d-flex flex-wrap gap-2">
                                {% for user_group in user_groups %}
                                {% filter indent(width=16) %}
                                {% include "components/user_groups/group_for_user.html" %}
                                {% endfilter %}
                                {% endfor %}
                            </div>
                            {% else %}
                            <span class="fst-italic text-muted">none</span>
                            {% endif %}
                        </div>
                        {% if signed_user.is_admin %}
                        <div class="order-0 order-lg-1 text-end">
                            <a href="{{ url_for('users.manage_groups', id=user.id) }}" class="btn btn-sm btn-outline-secondary text-nowrap" role="button" title="Manage user's groups"><i class="bi bi-person-rolodex"></i> Manage user's groups</a>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock main_content %}