<div class="offcanvas offcanvas-start bg-light border-0 rounded-end shadow app-campaign-selector" tabindex="-1" data-bs-scroll="false" data-bs-backdrop="true" aria-labelledby="campaignSelectorLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="campaignSelectorLabel">Campaign selector</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div class="d-flex align-items-center gap-2 mb-3">
            <select class="form-select" id="campaignSelectorSelect" aria-label="Select a campaign">
                <option value=""{% if not g.campaign_ctxt.has_campaign %} selected{% endif %}>No campaign</option>
                {% for campaign_state in g.campaign_ctxt.campaign_states %}
                <optgroup label="{{ campaign_state|capitalize }} ({{ g.campaign_ctxt.campaigns_by_state[campaign_state]|length }})">
                    {% for x in g.campaign_ctxt.campaigns_by_state[campaign_state] %}
                    <option value="{{ x.id }}"{% if x.id|string == g.campaign_ctxt.id|string %} selected{% endif %}>{{ x.name }}</option>
                    {% endfor %}
                </optgroup>
                {% endfor %}
            </select>
            <a class="btn btn-sm btn-outline-secondary" role="button" id="campaignSelectorBtnView" title="View campaign"><i class="bi bi-eye"></i></a>
            <a class="btn btn-sm btn-outline-primary" role="button" id="campaignSelectorBtnSelect" title="Select campaign">Select</a>
            <a class="btn btn-sm btn-outline-secondary" role="button" id="campaignSelectorBtnUnselect" title="Unselect campaign">Unselect</a>
        </div>
        <div id="campaignSelectedProperties"></div>
    </div>
</div>