{% import "macros/components/ts_selector.html" as mac_ts_selector %}
{% extends "pages/base.html" %}

{% set title = "Delete timeseries data" %}

{% block main_content %}
{{ super() -}}
<div class="container-fluid">
    <div class="row mb-3">
        <div class="col">
            <div class="alert alert-warning border border-warning" role="alert">
                <h4 class="alert-heading"><i class="bi bi-exclamation-triangle"></i> Warning</h4>
                <p>You are about to <span class="fw-bold">delete timeseries data</span>!</p>
                <p class="mb-0">Keep in mind that <span class="fw-bold">data can not be restored</span> once this operation is done.</p>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col">
            <h5>Campaign</h5>
            <p>{{ g.campaign_ctxt.name }}</p>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col">
            {% filter indent(width=12, first=False) %}
            {{ mac_ts_selector.render_ts_selector(element_id="tsSelectorDelete") -}}
            {% endfilter %}
        </div>
    </div>
    <div class="row mb-4">
        <div class="col">
            <form id="delForm">
                <div class="mb-3">
                    <div class="input-group input-group-sm">
                        <span class="input-group-text">Timeseries data state</span>
                        <select id="data_states" class="form-select" aria-label="Select a timeseries data state" required></select>
                    </div>
                </div>
                <div class="mb-3">
                    <div is="app-timezone-picker" id="timezonePicker" title="Timezone" tzname="{{ g.campaign_ctxt.tz_name }}" required>
                        <div is="app-spinner"></div>
                    </div>
                </div>

                <div class="row d-xl-flex d-grid mb-4">
                    <div class="col pb-2 pb-xl-0">
                        <div is="app-datetime-picker" id="start_datetime" title="From" time="00:00" tzname="{{ g.campaign_ctxt.tz_name }}" required>
                            <div is="app-spinner"></div>
                        </div>
                    </div>
                    <div class="col">
                        <div is="app-datetime-picker" id="end_datetime" title="Until" time="00:00" tzname="{{ g.campaign_ctxt.tz_name }}" required>
                            <div is="app-spinner"></div>
                        </div>
                        <small class="fst-italic text-muted">(excluded from the interval)</small>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col text-center">
                        <button id="delete" class="btn btn-danger" title="Delete timeseries data" disabled><i class="bi bi-exclamation-triangle"></i> Delete</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock main_content %}

{% block body_scripts %}
{{ super() -}}
{% filter indent(width=8, first=True) %}
<script type="module">
    import { TimeseriesDeleteView } from "{{ url_for('static', filename='scripts/modules/views/timeseries/delete.js') }}";
    import "{{ url_for('static', filename='scripts/modules/components/time/tzPicker.js') }}";
    import "{{ url_for('static', filename='scripts/modules/components/time/datetimePicker.js') }}";
    import "{{ url_for('static', filename='scripts/modules/components/spinner.js') }}";


    document.addEventListener("DOMContentLoaded", () => {

        let tsDeleteView = new TimeseriesDeleteView();
        tsDeleteView.refresh();

    });
</script>
{% endfilter %}
{% endblock body_scripts %}