{% extends "pages/base.html" %}

{% set title = "Explore timeseries" %}

{% block main_content %}
{{ super() -}}
<div class="container-fluid mb-4">
    <div class="row mb-3">
        <div class="col">
            <div class="row mb-3">
                <div class="col">
                    {% filter indent(width=20, first=True) %}
                    {% include "components/timeseries/selector.html" %}
                    {% endfilter %}
                </div>
            </div>
            <div class="row mb-3">
                <div class="col">
                    <div class="input-group">
                        <span class="input-group-text">Timeseries data state</span>
                        <select id="data_states" class="form-select" aria-label="Select a timeseries data state" required></select>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col">
                    <div is="app-timezone-picker" id="timezonePicker" title="Timezone" tzname="{{ g.campaign_ctxt.tz_name }}" required>
                        <div is="app-spinner"></div>
                    </div>
                </div>
            </div>
            <div class="row d-xl-flex d-grid mb-3">
                <div class="col pb-3 pb-xl-0">
                    <div is="app-datetime-picker" id="start_datetime" title="From" time="00:00" tzname="{{ g.campaign_ctxt.tz_name }}" required>
                        <div is="app-spinner"></div>
                    </div>
                </div>
                <div class="col">
                    <div is="app-datetime-picker" id="end_datetime" title="Until" time="00:00" tzname="{{ g.campaign_ctxt.tz_name }}" required>
                        <div is="app-spinner"></div>
                    </div>
                    <small class="fst-italic opacity-75">(excluded from the interval)</small>
                </div>
            </div>
            <div class="row d-xl-flex d-grid mb-3">
                <div class="col pb-3 pb-xl-0">
                    <div class="input-group">
                        <span class="input-group-text">Aggregation mode</span>
                        <select class="form-select" id="agg" name="agg" aria-label="Select an aggregation mode">
                            <option value="none" selected>No aggregation</option>
                            <option value="avg">average</option>
                            <option value="sum">sum</option>
                            <option value="min">minimum</option>
                            <option value="max">maximum</option>
                        </select>
                    </div>
                </div>
                <div class="col">
                    <div class="input-group">
                        <span class="input-group-text">Duration</span>
                        <input type="number" class="form-control" id="bucket_width_value" name="bucket_width_value" value="1" min="1" step="1">
                        <select class="form-select" id="bucket_width_unit" name="bucket_width_unit" aria-label="Select a duration">
                            <option value="second">second</option>
                            <option value="minute">minute</option>
                            <option value="hour" selected>hour</option>
                            <option value="day">day</option>
                            <option value="week">week</option>
                            <option value="month">month</option>
                            <option value="year">year</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-end gap-2">
                <button id="loadBtn" class="btn btn-sm btn-outline-primary" title="Load chart"><i class="bi bi-arrow-clockwise"></i> Load chart</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div id="chartContainer" class="border border-1 rounded bg-white p-2"></div>
        </div>
    </div>
</div>
{% endblock main_content %}

{% block body_scripts %}
{{ super() -}}
{% filter indent(width=8, first=True) %}
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts@5.3.2/dist/echarts.min.js"></script>
<script type="module">
    import "{{ url_for('static', filename='scripts/modules/components/time/tzPicker.js') }}";
    import "{{ url_for('static', filename='scripts/modules/components/time/datetimePicker.js') }}";
    import "{{ url_for('static', filename='scripts/modules/components/spinner.js') }}";
    import { TimeseriesSelector } from "{{ url_for('static', filename='scripts/modules/components/timeseries/selector.js') }}";
    import { TimeseriesDataExploreView } from "{{ url_for('static', filename='scripts/modules/views/timeseries/dataExplore.js') }}";


    document.addEventListener("DOMContentLoaded", () => {

        let tsSelector = new TimeseriesSelector({ allowedSelectionLimit: 1 });
        tsSelector.refresh();

        let tsDataExploreView = new TimeseriesDataExploreView(tsSelector);
        tsDataExploreView.refresh();

    });
</script>
{% endfilter %}
{% endblock body_scripts %}