{% extends "pages/base.html" %}

{% set self_edit = signed_user.id == user.id %}

{% set title = "User account" if not self_edit else "My profile" %}
{% if not self_edit %}
{% set subtitle = "Edit" %}
{% endif %}

{% block main_toolbar %}
{{ super() -}}
{% filter indent(width=20, first=True) %}
{% if not self_edit %}
<form id="delForm" action="{{ url_for('users.delete', id=user.id) }}" method="POST" data-modal-confirm-message="Delete &lt;mark&gt;{{ user.name }}&lt;/mark&gt;'s account">
    <input type="hidden" form="delForm" id="delEtag" name="delEtag" value="{{ etag }}">
    <button type="submit" form="delForm" class="btn btn-sm btn-outline-danger text-nowrap" title="Delete"><i class="bi bi-trash"></i> Delete</button>
</form>
{% endif %}
{% endfilter %}
{% endblock main_toolbar %}

{% block main_content %}
{{ super() -}}
<div class="container-fluid">
    {% if not self_edit %}
    <div class="row mb-3">
        <div class="col">
            <dl>
                <dt>User</dt>
                <dd class="text-break">{{ user.name }}</dd>
            </dl>
        </div>
    </div>
    {% endif %}
    <div class="row">
        <div class="col">
            <fieldset>
                <legend class="invisible d-none">User account</legend>
                <div class="mb-3">
                    <label class="form-label" for="name">Name</label>
                    <input type="text" form="editForm" class="form-control" id="name" name="name" value="{{ user.name }}" minlength="1" maxlength="80" required autofocus>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="email">Email address</label>
                    <input type="email" form="editForm" class="form-control" id="email" name="email" value="{{ user.email }}" required>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="password">Password</label>
                    <input type="password" form="editForm" class="form-control" id="password" name="password" minlength="1" maxlength="80" required>
                </div>
                <div class="d-flex justify-content-end gap-2">
                    <a href="{{ url_for('users.view', id=user.id) }}" class="btn btn-outline-secondary btn-sm text-break" title="Cancel">Cancel</a>
                    <form id="editForm" action="{{ url_for('users.edit', id=user.id) }}" method="POST">
                        <input type="hidden" form="editForm" id="editEtag" name="editEtag" value="{{ etag }}">
                        <button type="submit" form="editForm" class="btn btn-sm btn-primary text-break" title="Save"><i class="bi bi-save"></i> Save</button>
                    </form>
                </div>
            </fieldset>
        </div>
    </div>
</div>
{% endblock main_content %}