{% extends "pages/base.html" %}

{% set title = "Campaign scopes" %}

{% block main_toolbar %}
{{ super() -}}
{% filter indent(width=20, first=True) %}
<a href="{{ url_for('campaign_scopes.create') }}" class="btn btn-sm btn-outline-primary text-nowrap ms-auto" title="Add a new campaign scope"><i class="bi bi-plus-circle"></i> New campaign scope</a>
{% endfilter %}
{% endblock main_toolbar %}

{% block main_content %}
{{ super() -}}
<div class="container-fluid">
    <div class="row justify-content-between align-items-end mb-3">
        <div class="col">
            <h5>Campaign</h5>
            <p class="text-break mb-0">{{ g.campaign_ctxt.campaign.name }}</p>
        </div>
        <div class="col-auto">
            <small class="text-nowrap text-muted"><app-items-count first-item="1" last-item="{{ campaign_scopes | length }}" total-count="{{ campaign_scopes | length }}"></app-items-count></small>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="list-group">
                {% for x in campaign_scopes %}
                <a class="list-group-item list-group-item-action d-flex gap-3 py-3" href="{{ url_for('campaign_scopes.view', id=x.id) }}" title="View details">
                    <i class="bi bi-bounding-box-circles"></i>
                    <div class="d-sm-flex d-grid gap-2 w-100 justify-content-between">
                        <div>
                            <h6 class="fw-bold text-nowrap mb-0">{{ x.name }}</h6>
                            <small class="text-muted">{{ x.description }}</small>
                        </div>
                    </div>
                </a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock main_content %}

{% block body_scripts %}
{{ super() -}}
{% filter indent(width=8, first=True) %}
<script type="module" src="{{ url_for('static', filename='scripts/modules/components/itemsCount.js') }}"></script>
{% endfilter %}
{% endblock body_scripts %}