{% import "macros/partners.html" as mac_partners %}
{% extends "pages/base.html" %}

{% set title = "About" %}

{% block main_content %}
{{ super() -}}
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-sm-5 d-flex justify-content-center justify-content-sm-end">
            <img class="app-logo" src="{{ url_for('static', filename='images/bemserver.svg') }}" alt="BEMServer">
        </div>
        <div class="col-12 col-sm-auto offset-0 offset-sm-1 d-flex justify-content-center align-items-center mt-3 mt-sm-0">
            <div class="d-flex flex-column">
                {% for app_name, app_version in about_versions.items() %}
                <div class="font-monospace"><span class="text-secondary">{{ app_name }} version</span> <small class="fw-bold">{{ app_version }}</small></div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% if partners is defined %}
    <div class="row mt-5">
        <div class="col">
            <h4 class="font-monospace text-black-75">Project partners</h4>
            <div class="d-grid gap-4 p-2">
                {% filter indent(width=16, first=False) %}
                {{ mac_partners.render_partners(partners) -}}
                {% endfilter %}
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% endblock main_content %}