{% import "macros/flash.html" as mac_flash %}
{% extends "pages/skeleton.html" %}

{% block head_styles %}
{{ super() -}}
{% filter indent(width=8, first=True) %}
<link rel="stylesheet" media="all" href="{{ url_for('static', filename='styles/app.css') }}">
{% endfilter %}
{% endblock head_styles %}

{% block body_content %}
{{ super() -}}
{% include "components/header.html" +%}
<div class="container-fluid">
    <div class="row">
        {% filter indent(width=8, first=True) %}
        {% include "components/sidebar.html" %}
        {% endfilter +%}
        <main class="col-md-9 ms-sm-auto col-xl-10 px-md-4 app-content">
            {% block main_title %}
            <div class="d-flex justify-content-between align-items-center mb-3">
                <h1>{{ title }}</h1>
                <div class="me-4">
                    {% block main_toolbar %}
                    {% endblock main_toolbar %}
                </div>
            </div>
            {% endblock main_title %}
            {{ mac_flash.display_messages() -}}
            {% filter indent(width=12) %}
            {% block main_content %}
            {% endblock main_content %}
            {% endfilter %}
        </main>
    </div>
</div>
{% endblock body_content %}

{% block body_scripts %}
{{ super() -}}
{% filter indent(width=8, first=True) %}
<script type="module" src="{{ url_for('static', filename='scripts/app.js') }}"></script>
{% endfilter %}
{% endblock body_scripts %}