{% import "macros/components/campaign.html" as mac_camp %}
<ul class="nav nav-pills flex-column gap-1">
    <li class="nav-item d-flex justify-content-between align-items-center gap-1{% if not g.campaign_ctxt.has_campaign and request.endpoint == "main.index" %} app-target-highlight{% endif %}">
        {% filter indent(width=8, first=True) %}
        {% set campaign_list_url = url_for("campaigns.list") %}
        {% if not g.campaign_ctxt.has_campaign %}
            {% set campaign_list_url = url_for("campaigns.list", state="ongoing") %}
        {% endif %}
        {{- mac_sidebar.render_nav_link("Campaigns", campaign_list_url, "Manage campaigns", ["bi", "bi-boxes"], extra_classes=["w-100"]) -}}
        {% endfilter %}
    </li>
    {% if g.campaign_ctxt.has_campaign or campaign %}
    <li id="campaignSelectedNavItem" class="nav-item d-flex justify-content-between align-items-center">
        {% filter indent(width=8, first=True) %}
        {% if g.campaign_ctxt.has_campaign %}
        {{- mac_sidebar.render_nav_link(mac_camp.render_campaign_info(g.campaign_ctxt.name, g.campaign_ctxt.campaign.state, render_style="bullet") | indent(width=8), url_for("campaigns.view", id=g.campaign_ctxt.id), g.campaign_ctxt.name, [], extra_classes=["fw-bold", "text-center", "border", "border-5", "border-top-0", "border-bottom-0", "rounded-3", "app-campaign-selected", "shadow", "p-1", "w-100"]) -}}
        {% elif campaign %}
        {{- mac_sidebar.render_nav_link(mac_camp.render_campaign_info(campaign.name, campaign.state, render_style="bullet") | indent(width=8), url_for("campaigns.view", id=campaign.id), campaign.name, [], extra_classes=["fw-bold", "text-center", "border", "border-5", "border-top-0", "border-bottom-0", "rounded-3", "app-campaign-selected", "shadow", "p-1", "w-100"]) -}}
        {% endif %}
        {% endfilter %}
    </li>
    {% endif %}
</ul>