{% if g.campaign_ctxt.has_campaign or sidebar_section_plugins | length > 0 %}
<div class="accordion app-sidebar-accordion rounded bg-success bg-opacity-25">
    <div class="accordion-item border-0">
        <h2 class="accordion-header" id="panelHeadingTSData">
            <button class="accordion-button text-muted rounded-0 shadow-none collapsed p-2" type="button" data-bs-toggle="collapse" data-bs-target="#panelCollapseTSData" aria-expanded="false" aria-controls="panelCollapseTSData">
                <span class="app-sidebar-heading"><i class="bi bi-clock-history"></i> Timeseries data</span>
            </button>
        </h2>
        <div id="panelCollapseTSData" class="accordion-collapse collapse" aria-labelledby="panelHeadingTSData">
            <div class="accordion-body px-0 py-2">
                <ul class="nav nav-pills flex-column gap-1">
                    {% filter indent(width=20, first=True) %}
                    {% if g.campaign_ctxt.has_campaign %}
                    {{- mac_sidebar.render_nav_item("Explore data", url_for("timeseries.data.explore"), "Explore data", ["bi", "bi-bar-chart-line"]) -}}
                    {{- mac_sidebar.render_nav_item("Data completeness", url_for("timeseries.data.completeness"), "Data completeness", ["bi", "bi-pie-chart"]) -}}
                    {% endif %}
                    {% for sidebar_section_plugin in sidebar_section_plugins %}
                    {{- mac_sidebar.render_nav_item_from_plugin(sidebar_section_plugin) -}}
                    {% endfor %}
                    {% endfilter %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% endif %}