{% if g.campaign_ctxt.has_campaign %}
<ul class="nav nav-pills flex-column gap-1">
    <li class="nav-item d-flex justify-content-between align-items-center gap-1">
        {% filter indent(width=8, first=True) %}
        {{- mac_sidebar.render_nav_link("Sites", url_for("structural_elements.explore"), "Manage sites/buildings/storeys/spaces and zones", ["bi", "bi-buildings"], extra_classes=["w-100"]) -}}
        {% endfilter %}
    </li>
    <li class="nav-item d-flex justify-content-between align-items-center gap-1">
        {% filter indent(width=8, first=True) %}
        {{- mac_sidebar.render_nav_link("Timeseries", url_for("timeseries.list"), "Manage timeseries", ["bi", "bi-clock-history"], extra_classes=["w-100"]) -}}
        {% endfilter %}
    </li>
    <li class="nav-item d-flex justify-content-between align-items-center gap-1">
        {% filter indent(width=8, first=True) %}
        {{- mac_sidebar.render_nav_link("Events", url_for("events.list"), "Manage events", ["bi", "bi-calendar2-event"], extra_classes=["w-100"]) -}}
        {% endfilter %}
    </li>
</ul>
{% endif %}