{% extends "pages/base.html" %}

{% set title = "Campaign" %}
{% set subtitle = "Edit" %}

{% set is_campaign_selected_edit = g.campaign_ctxt.has_campaign and g.campaign_ctxt.id|string == campaign.id|string %}

{% block main_toolbar %}
{{ super() -}}
{% filter indent(width=20, first=True) %}
<form id="delForm" action="{{ url_for('campaigns.delete', id=campaign.id) }}" method="POST" data-modal-confirm-message="Delete &lt;mark&gt;{{ campaign.name }}&lt;/mark&gt; campaign">
    <input type="hidden" form="delForm" id="delEtag" name="delEtag" value="{{ etag }}">
    <button type="submit" form="delForm" class="btn btn-sm btn-outline-danger text-nowrap" title="Delete"{% if is_campaign_selected_edit %} disabled aria-disabled="true"{% endif %}><i class="bi bi-trash"></i> Delete</button>
</form>
{% endfilter %}
{% endblock main_toolbar %}

{% block main_content %}
{{ super() -}}
<div class="container-fluid">
    {% if is_campaign_selected_edit %}
    <div class="row mb-3">
        <div class="col">
            <div class="alert alert-info" role="alert">
                <i class="bi bi-info-square me-2"></i>
                This is the campaign currently selected. <span class="fw-bold fst-italic">Deletion is disabled.</span>
            </div>
        </div>
    </div>
    {% endif %}
    <div class="row mb-3">
        <div class="col">
            <h5>Campaign</h5>
            <p class="text-break">{{ campaign.name }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <fieldset>
                <legend class="invisible d-none">Campaign information</legend>
                <div class="mb-3">
                    <label class="form-label" for="name">Name</label>
                    <input type="text" form="editForm" class="form-control" id="name" name="name" value="{{ campaign.name }}" minlength="1" maxlength="80" required autofocus>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="timezonePicker">Timezone</label>
                    <div is="app-timezone-picker" id="timezonePicker" input-form-bind="timezone" tzname="{{ campaign.timezone }}" required>
                        <div is="app-spinner"></div>
                    </div>
                    <input form="editForm" type="hidden" id="timezone" name="timezone" value="{{ campaign.timezone }}" required>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="description">Description</label>
                    <textarea form="editForm" class="form-control" id="description" name="description" maxlength="500" rows="3">{{ campaign.description }}</textarea>
                </div>
                <div class="row d-xl-flex d-grid mb-3">
                    <div class="col pb-3 pb-xl-0">
                        <label class="form-label" for="start_datetime">From</label>
                        <div is="app-datetime-picker" id="start_datetime" date-input-form-bind="start_date" time-input-form-bind="start_time" date="{{ campaign.start_date }}" time="{{ campaign.start_time }}">
                            <div is="app-spinner"></div>
                        </div>
                        <input form="editForm" type="hidden" id="start_date" name="start_date" value="{{ campaign.start_date }}">
                        <input form="editForm" type="hidden" id="start_time" name="start_time" value="{{ campaign.start_time }}">
                    </div>
                    <div class="col">
                        <label class="form-label" for="end_datetime">Until</label>
                        <div is="app-datetime-picker" id="end_datetime" date-input-form-bind="end_date" time-input-form-bind="end_time" date="{{ campaign.end_date }}" time="{{ campaign.end_time }}">
                            <div is="app-spinner"></div>
                        </div>
                        <input form="editForm" type="hidden" id="end_date" name="end_date" value="{{ campaign.end_date }}">
                        <input form="editForm" type="hidden" id="end_time" name="end_time" value="{{ campaign.end_time }}">
                    </div>
                </div>
                <div class="d-flex justify-content-end gap-2">
                    <a href="{{ url_for('campaigns.view', id=campaign.id) }}" class="btn btn-outline-secondary btn-sm text-break" title="Cancel">Cancel</a>
                    <form id="editForm" action="{{ url_for('campaigns.edit', id=campaign.id) }}" method="POST">
                        <input type="hidden" form="editForm" id="editEtag" name="editEtag" value="{{ etag }}">
                        <button type="submit" form="editForm" class="btn btn-sm btn-primary text-break" title="Save"><i class="bi bi-save"></i> Save</button>
                    </form>
                </div>
            </fieldset>
        </div>
    </div>
</div>
{% endblock main_content %}

{% block body_scripts %}
{{ super() -}}
{% filter indent(width=8, first=True) %}
<script type="module">
    import "{{ url_for('static', filename='scripts/modules/components/time/tzPicker.js') }}";
    import "{{ url_for('static', filename='scripts/modules/components/time/datetimePicker.js') }}";
    import "{{ url_for('static', filename='scripts/modules/components/spinner.js') }}";


    document.addEventListener("DOMContentLoaded", () => {

        let tzPickerElmt = document.getElementById("timezonePicker");
        let startDatetimePickerElmt = document.getElementById("start_datetime");
        let endDatetimePickerElmt = document.getElementById("end_datetime");

        startDatetimePickerElmt.tzName = tzPickerElmt.tzName;
        endDatetimePickerElmt.tzName = tzPickerElmt.tzName;

        tzPickerElmt.addEventListener("tzChange", (event) => {
            event.preventDefault();

            startDatetimePickerElmt.tzName = event.detail.tzName;
            endDatetimePickerElmt.tzName = event.detail.tzName;
        });

        startDatetimePickerElmt.addEventListener("dateChange", (event) => {
            event.preventDefault();

            endDatetimePickerElmt.dateMin = startDatetimePickerElmt.date;
        });

        endDatetimePickerElmt.addEventListener("dateChange", (event) => {
            event.preventDefault();

            startDatetimePickerElmt.dateMax = endDatetimePickerElmt.date;
        });

    });
</script>
{% endfilter %}
{% endblock body_scripts %}