{% import "macros/items_count.html" as mac_items_count %}
{% extends "pages/base.html" %}

{% set title = "Campaigns" %}

{% block main_toolbar %}
{{ super() -}}
{% filter indent(width=20, first=True) %}
<div class="d-xs-flex d-grid justify-content-center gap-2 mx-auto">
    <a href="{{ url_for('campaigns.create') }}" class="btn btn-sm btn-outline-primary" title="Add a new campaign"><i class="bi bi-plus-circle"></i> New campaign</a>
</div>
{% endfilter %}
{% endblock main_toolbar %}

{% block main_content %}
{{ super() -}}
<div class="container-fluid mb-4">
    <div class="row mb-3">
        <div class="col">
            <div class="accordion" id="accordionFilters">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingFilters">
                        <button class="accordion-button{% if not is_filtered %} collapsed{% endif %}" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFilters" aria-controls="collapseFilters" aria-expanded="{{ is_filtered | lower }}">
                            <span class="fw-bold text-secondary"><i class="bi bi-funnel"></i> Filters</span>
                        </button>
                    </h2>
                    <div id="collapseFilters" class="accordion-collapse collapse{% if is_filtered %} show{% endif %}" aria-labelledby="headingFilters" data-bs-parent="#accordionFilters">
                        <div class="accordion-body">
                            <form class="d-sm-flex d-grid gap-2" action="{{ url_for(request.endpoint) }}" method="POST">
                                <select class="form-select form-select-sm{% if filters['state'] != 'all' %} border border-info{% endif %}" id="state" name="state" aria-label="Select a filter value">
                                    {% for x in g.campaign_ctxt.campaign_states %}
                                    <option value="{{ x }}"{% if x == filters["state"] %} selected{% endif %}>{{ x | capitalize }}</option>
                                    {% endfor %}
                                </select>
                                <button class="btn btn-sm btn-outline-info text-nowrap" type="submit" title="Apply filters"><i class="bi bi-funnel"></i> Apply</button>
                                <a class="btn btn-sm btn-outline-secondary text-nowrap" role="button" href="{{ url_for(request.endpoint) }}" title="Remove filters"><i class="bi bi-eraser"></i> Remove</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-end mb-3">
        <div class="col-auto">
            {% filter indent(width=12) %}
            {{ mac_items_count.render_items_count(g.campaign_ctxt.campaigns | length, last_item=g.campaign_ctxt.campaigns_by_state[filters["state"]] | length) -}}
            {% endfilter %}
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="list-group">
                {% for x in g.campaign_ctxt.campaigns_by_state[filters["state"]] %}
                {% set is_campaign_selected = g.campaign_ctxt.has_campaign and g.campaign_ctxt.id|string == x.id|string %}
                <a class="list-group-item list-group-item-action d-flex gap-3 py-3{% if is_campaign_selected %} app-campaign-selected{% endif %}" href="{{ url_for('campaigns.view', id=x.id) }}" title="View details">
                    <i class="bi bi-boxes"></i>
                    <div class="d-sm-flex d-grid gap-2 w-100 justify-content-between">
                        <div class="d-flex flex-column">
                            <h6 class="fw-bold text-nowrap mb-0">{{ x.name }}</h6>
                            <small class="opacity-50">{{ x.description }}</small>
                            {% if is_campaign_selected %}
                            <small class="opacity-50 text-success text-nowrap fst-italic"><i class="bi bi-info-square"></i> This campaign is currently selected.</small>
                            {% endif %}
                        </div>
                        <div class="d-flex flex-column">
                            <div><small class="fw-bold text-{% if x.state == 'ongoing' %}success{% else %}danger{% endif %} opacity-75">{{ x.state|upper }}</small></div>
                            <div><small class="fw-bold opacity-75">From</small><small class="opacity-50 ms-2">{{ x.start_time | iso_datetime_format(default="not defined") }}</small></div>
                            <div><small class="fw-bold opacity-75">To</small><small class="opacity-50 ms-2">{{ x.end_time | iso_datetime_format(default="not defined") }}</small></div>
                        </div>
                    </div>
                </a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock main_content %}