{% extends "pages/base.html" %}

{% set title = "Campaigns" %}

{% block main_toolbar %}
{{ super() -}}
{% filter indent(width=20, first=True) %}
{% if signed_user.is_admin %}
<div class="d-sm-flex d-grid gap-3">
    <a href="{{ url_for('campaign_scopes.create') }}" class="btn btn-sm btn-outline-primary text-nowrap" title="Add a new campaign scope"><i class="bi bi-plus-circle"></i> New campaign scope</a>
    <div class="vr d-none d-sm-block"></div>
    <a href="{{ url_for('campaigns.create') }}" class="btn btn-sm btn-outline-primary text-nowrap" title="Add a new campaign"><i class="bi bi-plus-circle"></i> New campaign</a>
</div>
{% endif %}
{% endfilter %}
{% endblock main_toolbar %}

{% block main_content %}
{{ super() -}}
<div class="container-fluid">
    <div class="row mb-3">
        <div class="col">
            <div class="accordion" id="accordionFilters">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingFilters">
                        <button class="accordion-button{% if not is_filtered %} collapsed{% endif %}" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFilters" aria-controls="collapseFilters" aria-expanded="{{ is_filtered | lower }}">
                            <span class="fw-bold text-secondary"><i class="bi bi-funnel"></i> Filters</span>
                        </button>
                    </h2>
                    <div id="collapseFilters" class="accordion-collapse collapse{% if is_filtered %} show{% endif %}" aria-labelledby="headingFilters" data-bs-parent="#accordionFilters">
                        <div class="accordion-body">
                            <form class="d-sm-flex d-grid gap-2" action="{{ url_for(request.endpoint) }}" method="POST">
                                <input type="text" class="form-control form-control-sm{% if filters['in_name'] not in [none, ''] %} border-info bg-info bg-opacity-10{% endif %}" id="in_name" name="in_name" placeholder="Search in name..."{% if filters["in_name"] not in [none, ""] %} value="{{ filters['in_name'] }}"{% endif %}>
                                <select class="form-select form-select-sm{% if filters['state'] != g.campaign_ctxt.campaign_state_overall %} border-info bg-info bg-opacity-10{% endif %}" id="state" name="state" aria-label="Select a filter value">
                                    <option value="{{ g.campaign_ctxt.campaign_state_overall }}"{% if g.campaign_ctxt.campaign_state_overall == filters["state"] %} selected{% endif %}>All campaign states</option>
                                    {% for x in g.campaign_ctxt.campaign_states %}
                                    <option value="{{ x }}"{% if x == filters["state"] %} selected{% endif %}>{{ x | capitalize }}</option>
                                    {% endfor %}
                                </select>
                                <button class="btn btn-sm btn-outline-info text-nowrap" type="submit" title="Apply filters"><i class="bi bi-funnel"></i> Apply</button>
                                <a class="btn btn-sm btn-outline-secondary text-nowrap" role="button" href="{{ url_for(request.endpoint) }}" title="Remove filters"><i class="bi bi-eraser"></i> Remove</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-end mb-3">
        <div class="col-auto">
            <small class="text-nowrap text-muted"><app-items-count id="itemsCount" first-item="1" last-item="{{ campaigns | length }}" total-count="{{ g.campaign_ctxt.campaigns_by_state[g.campaign_ctxt.campaign_state_overall] | length }}"></app-items-count></small>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="list-group">
                {% for x in campaigns %}
                {% set is_campaign_selected = g.campaign_ctxt.has_campaign and g.campaign_ctxt.id|string == x.id|string %}
                <div class="list-group-item d-flex justify-content-between gap-3 p-0{% if is_campaign_selected %} app-campaign-selected{% endif %}">
                    <a class="list-group-item-action text-decoration-none d-flex gap-3 py-3 p-2 ps-3 w-100" href="{{ url_for('campaigns.view', id=x.id) }}" title="View details">
                        <i class="bi bi-boxes"></i>
                        <div class="d-xl-flex d-grid justify-content-between gap-3 w-100">
                            <div class="d-grid gap-2">
                                <div class="d-sm-flex d-grid align-items-center gap-1">
                                    <small class="fw-bold text-{% if x.state == 'ongoing' %}success{% else %}danger{% endif %} text-opacity-75">[{{ x.state | upper }}]</small>
                                    <h6 class="fw-bold text-break ms-sm-2 mb-0">{{ x.name }}</h6>
                                </div>
                                {% if is_campaign_selected %}
                                <div><small class="text-opacity-50 text-primary fst-italic"><i class="bi bi-info-square"></i> This campaign is currently selected.</small></div>
                                {% endif %}
                                <div class="text-muted ms-2">{{ x.description }}</div>
                            </div>
                            <div class="v-stack">
                                <div class="d-md-flex d-grid align-items-center gap-md-2">
                                    <div>
                                        <i class="bi bi-watch"></i>
                                        <small class="fw-bold text-muted">{{ x.timezone_info["area"]["label"] }}</small>
                                    </div>
                                    <small class="fst-italic text-black text-opacity-50 ms-sm-2">{{ x.timezone_info["label"] }}</small>
                                </div>
                                {% if x.start_time is defined %}
                                {% set is_ongoing = x.state == "ongoing" %}
                                <div class="d-flex justify-content-xl-end align-items-center gap-2 {% if not is_ongoing %}text-muted{% endif %}"><i class="bi bi-play{% if is_ongoing %} text-success{% endif %}"></i><small{% if is_ongoing %} class="text-success text-opacity-75"{% endif %}>{{ x.start_time | iso_datetime_format(tz_name=x.timezone, default="not defined") }}</small></div>
                                {% endif %}
                                {% if x.end_time is defined %}
                                {% set is_closed = x.state == "closed" %}
                                <div class="d-flex justify-content-xl-end align-items-center gap-2 {% if not is_closed %}text-muted{% endif %}"><i class="bi bi-stop{% if is_closed %} text-danger{% endif %}"></i><small{% if is_closed %} class="text-danger text-opacity-75"{% endif %}>{{ x.end_time | iso_datetime_format(tz_name=x.timezone, default="not defined") }}</small></div>
                                {% endif %}
                            </div>
                        </div>
                    </a>
                    <div class="text-center my-md-auto my-3 me-3">
                        {% if is_campaign_selected %}
                        {% set extra_kwargs = {"state": request.args["state"]} if "state" in request.args else {} %}
                        <a href="{{ url_for(request.endpoint, ignore_campaign=True, **extra_kwargs) }}" class="btn btn-sm btn-outline-secondary text-nowrap" role="button" title="Unselect">Unselect</a>
                        {% else %}
                        <a href="{{ url_for('structural_elements.explore', forced_campaign=x.id) }}" class="btn btn-sm btn-outline-secondary text-nowrap" role="button" title="Select">Select</a>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock main_content %}

{% block body_scripts %}
{{ super() -}}
{% filter indent(width=8, first=True) %}
<script type="module" src="{{ url_for('static', filename='scripts/modules/components/itemsCount.js') }}"></script>
{% endfilter %}
{% endblock body_scripts %}