{% extends "pages/base.html" %}

{% set is_campaign_selected_edit = g.campaign_ctxt.has_campaign and g.campaign_ctxt.id|string == campaign.id|string %}
{% set title = "Campaign" %}
{% if tab is undefined %}
    {% set tab = "general" %}
{% endif %}

{% block main_toolbar %}
{{ super() -}}
{% filter indent(width=20, first=True) %}
<div class="d{% if is_campaign_selected_edit %}-xl{% endif %}-flex {% if is_campaign_selected_edit %} d-grid{% endif %} gap-2 mx-auto">
    {% if is_campaign_selected_edit %}
    <div class="hstack gap-3 mx-auto ms-lg-auto me-lg-0 mt-lg-2 mt-0 mt-xl-0">
        {% if signed_user.is_admin %}
        <a href="{{ url_for('campaign_scopes.create') }}" class="btn btn-sm btn-outline-primary text-nowrap" role="button" title="Add a new campaign scope"><i class="bi bi-plus-circle"></i> New campaign scope</a>
        <div class="vr d-none d-xl-block me-xl-2"></div>
        {% endif %}
    </div>
    {% else %}
    <div class="hstack gap-3 ms-auto">
        <a href="{{ url_for('structural_elements.explore', forced_campaign=campaign.id) }}" class="btn btn-sm btn-outline-secondary text-nowrap" role="button" title="Select">Select</a>
        {% if signed_user.is_admin %}
        <div class="vr me-2"></div>
        {% endif %}
    </div>
    {% endif %}
    {% if signed_user.is_admin %}
    <div class="hstack gap-2{% if is_campaign_selected_edit %} ms-auto ms-lg-auto me-lg-0{% else %} me-auto{% endif %}">
        <form id="delForm" action="{{ url_for('campaigns.delete', id=campaign.id) }}" method="POST" data-modal-confirm-message="Delete &lt;mark&gt;{{ campaign.name }}&lt;/mark&gt; campaign">
            <input type="hidden" form="delForm" id="delEtag" name="delEtag" value="{{ etag }}">
            <button type="submit" form="delForm" class="btn btn-sm btn-outline-danger text-nowrap" title="Delete"{% if is_campaign_selected_edit %} disabled aria-disabled="true"{% endif %}><i class="bi bi-trash"></i> Delete</button>
        </form>
    </div>
    {% endif %}
</div>
{% endfilter %}
{% endblock main_toolbar %}

{% block main_content %}
{{ super() -}}
<div class="container-fluid">
    {% if is_campaign_selected_edit and signed_user.is_admin %}
    <div class="row mb-3">
        <div class="col">
            <div class="alert alert-info d-flex justify-content-between align-items-center" role="alert">
                <div>
                    <i class="bi bi-info-square me-2"></i>
                    This is the campaign currently selected. <span class="fw-bold fst-italic">Deletion is disabled.</span>
                </div>
                <a href="{{ url_for('campaigns.view', id=campaign.id, ignore_campaign=True) }}" class="btn btn-sm btn-outline-secondary text-nowrap" role="button" title="Unselect">Unselect</a>
            </div>
        </div>
    </div>
    {% endif %}
    <div class="row">
        <div class="col">
            <ul class="nav nav-tabs app-tabs" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link{% if tab == 'general' %} active{% endif %}" id="general-tab" data-bs-toggle="tab" data-bs-target="#general-tabcontent" type="button" role="tab" aria-controls="general-tabcontent" aria-selected="{% if tab == 'general' %}true{% else %}false{% endif %}">General</button>
                </li>
                {% if signed_user.is_admin %}
                <li class="nav-item" role="presentation">
                    <button class="nav-link{% if tab == 'groups' %} active{% endif %}" id="groups-tab" data-bs-toggle="tab" data-bs-target="#groups-tabcontent" type="button" role="tab" aria-controls="groups-tabcontent" aria-selected="{% if tab == 'groups' %}true{% else %}false{% endif %}">Groups <span class="badge bg-secondary">{{ user_groups|length }}</span></button>
                </li>
                {% endif %}
            </ul>
            <div class="tab-content app-tab-content overflow-auto border border-top-0 bg-white">
                <div class="tab-pane fade{% if tab == 'general' %} show active{% endif %} p-3" id="general-tabcontent" role="tabpanel" aria-labelledby="general-tab">
                    <div class="d-flex justify-content-between gap-3">
                        <dl>
                            <dt>Name</dt>
                            <dd class="text-break">{{ campaign.name }}</dd>
                            <dt>Status</dt>
                            <dd class="fw-bold text-{% if campaign.state == 'ongoing' %}success{% else %}danger{% endif %} text-opacity-75">{{ campaign.state | upper }}</dd>
                            <dt>Timezone</dt>
                            <dd class="v-stack">
                                <span>{{ campaign.timezone_info["area"]["label"] }}</span>
                                <div><small class="fst-italic text-muted">{{ campaign.timezone_info["label"] }}</small></div>
                            </dd>
                            <dt>From</dt>
                            <dd>{{ campaign.start_time | iso_datetime_format(tz_name=campaign.timezone, default="not defined") }}</dd>
                            <dt>Until</dt>
                            <dd>{{ campaign.end_time | iso_datetime_format(tz_name=campaign.timezone, default="not defined") }}</dd>
                            <dt>Description</dt>
                            <dd class="text-break">{{ campaign.description | default("-", true) }}</dd>
                        </dl>
                        <div>
                            {% if signed_user.is_admin %}
                            <a href="{{ url_for('campaigns.edit', id=campaign.id) }}" class="btn btn-sm btn-outline-primary text-nowrap" role="button" title="Edit"><i class="bi bi-pencil"></i> Edit</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% if signed_user.is_admin %}
                <div class="tab-pane fade{% if tab == 'groups' %} show active{% endif %} p-3" id="groups-tabcontent" role="tabpanel" aria-labelledby="groups-tab">
                    <div class="d-flex justify-content-between align-items-start gap-3">
                        {% if user_groups|length > 0 %}
                        <div class="d-flex flex-wrap gap-2">
                            {% for user_group in user_groups %}
                            {% filter indent(width=16) %}
                            {% include "components/user_groups/group_for_campaign.html" %}
                            {% endfilter %}
                            {% endfor %}
                        </div>
                        {% else %}
                        <span class="fst-italic text-muted">none</span>
                        {% endif %}
                        {% if signed_user.is_admin %}
                        <a href="{{ url_for('campaigns.manage_groups', id=campaign.id) }}" class="btn btn-sm btn-outline-primary text-nowrap" role="button" title="Manage campaign's user groups"><i class="bi bi-person-rolodex"></i> Manage campaign's groups</a>
                        {% endif %}
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock main_content %}