{% import "macros/component.html" as mac_component %}
{% extends "pages/base.html" %}

{% set is_campaign_selected_edit = g.campaign_ctxt.has_campaign and g.campaign_ctxt.id|string == campaign.id|string %}
{% set title = "View campaign" %}

{% block main_toolbar %}
{{ super() -}}
{% filter indent(width=20, first=True) %}
<div class="d-flex gap-3">
    {% if is_campaign_selected_edit %}
    <a href="{{ url_for('campaigns.view', id=campaign.id, ignore_campaign=True) }}" class="btn btn-sm btn-outline-secondary text-break" role="button" title="Unselect">Unselect</a>
    {% else %}
    <a href="{{ url_for('campaigns.view', id=campaign.id, forced_campaign=campaign.id) }}" class="btn btn-sm btn-outline-secondary text-break" role="button" title="Select">Select</a>
    {% endif %}
    <form id="delForm" action="{{ url_for('campaigns.delete', id=campaign.id) }}" method="POST" data-modal-confirm-message="Delete &lt;mark&gt;{{ campaign.name }}&lt;/mark&gt; campaign">
        <input type="hidden" form="delForm" id="delEtag" name="delEtag" value="{{ etag }}">
        <button type="submit" form="delForm" class="btn btn-sm btn-outline-danger text-break" title="Delete"{% if is_campaign_selected_edit %} disabled aria-disabled="true"{% endif %}><i class="bi bi-trash"></i> Delete</button>
    </form>
    <div class="d-flex gap-2 ms-auto">
        <a href="{{ url_for('campaigns.edit', id=campaign.id) }}" class="btn btn-sm btn-outline-primary text-break" role="button" title="Edit"><i class="bi bi-pencil"></i> Edit</a>
    </div>
</div>
{% endfilter %}
{% endblock main_toolbar %}

{% block main_content %}
{{ super() -}}
<div class="container-fluid">
    {% if is_campaign_selected_edit %}
    <div class="row mb-3">
        <div class="col">
            <div class="alert alert-info" role="alert">
                <i class="bi bi-info-square me-2"></i>
                This is the campaign currently selected. <span class="fw-bold fst-italic">Deletion is disabled.</span>
            </div>
        </div>
    </div>
    {% endif %}
    <div class="row mb-3">
        <dl class="col-auto">
            <dt>Name</dt>
            <dd>{{ campaign.name }}</dd>
        </dl>
        <dl class="col-auto">
            <dt>From</dt>
            <dd>{{ campaign.start_time | iso_datetime_format(default="not defined") }}</dd>
        </dl>
        <dl class="col-auto">
            <dt>To</dt>
            <dd>{{ campaign.end_time | iso_datetime_format(default="not defined") }}</dd>
        </dl>
    </div>
    <div class="row">
        <dl class="col-auto">
            <dt>Description</dt>
            <dd>{{ campaign.description | default("-") }}</dd>
        </dl>
    </div>
    <hr>
    <div class="row">
        <div class="col">
            <div class="d-flex justify-content-between align-items-center">
                <h5>Campaign's user groups <span class="badge bg-primary">{{ user_groups|length }}</span></h5>
                {% if signed_user.is_admin %}
                <a href="{{ url_for('campaigns.manage_groups', id=campaign.id) }}" class="btn btn-sm btn-outline-primary text-break" role="button" title="Manage user's groups"><i class="bi bi-person-rolodex"></i> Manage user's groups</a>
                {% endif %}
            </div>
            {% if user_groups|length > 0 %}
            <div class="d-flex flex-wrap mt-2 gap-2">
                {% for x in user_groups %}
                {{ mac_component.get_component("user_groups/group_for_campaign.html", {"target": campaign, "user_group": x, "read_only": not signed_user.is_admin}) | indent(16) }}
                {% endfor %}
            </div>
            {% else %}
            <span class="fst-italic text-muted">none</span>
            {% endif %}
        </div>
    </div>
</div>
{% endblock main_content %}