{% import "macros/components/ts_selector.html" as mac_ts_selector %}
{% extends "pages/base.html" %}

{% set title = "Timeseries data completeness" %}

{% block main_content %}
{{ super() -}}
<div class="container-fluid">
    <div class="row mb-3">
        <div class="col">
            <div class="row mb-2">
                <div class="col">
                    <input type="hidden" id="timeseries" value="{{ timeseries_ids }}">
                    {% filter indent(width=20, first=False) %}
                    {{ mac_ts_selector.render_ts_selector(element_id="tsSelectorCompleteness") -}}
                    {% endfilter %}
                </div>
            </div>
            <div class="row d-lg-flex d-grid mb-2">
                <div class="col-auto pb-1 pb-lg-0">
                    <div class="input-group input-group-sm">
                        <span class="input-group-text">Period</span>
                        <select id="periodType" class="form-select" aria-label="Select a period" required>
                            {% for x in period_types %}
                            <option value="{{ x.id }}"{% if x.id == period_type %} selected{% endif %}>{{ x.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="col-auto">
                    <div class="hstack gap-2">
                        <input type="hidden" id="tzname" value="{{ g.campaign_ctxt.tz_name }}">
                        <select id="periodYear" class="form-select form-select-sm d-none invisible" aria-label="Select a period year" required>
                            {% for x in years %}
                            <option value="{{ x }}"{% if x == period_year %} selected{% endif %}>{{ x }}</option>
                            {% endfor %}
                        </select>
                        <select id="periodMonth" class="form-select form-select-sm d-none invisible" aria-label="Select a period month" required>
                            {% for month_number, month_name in months | items %}
                            <option value="{{ month_number }}"{% if month_number == period_month %} selected{% endif %}>{{ month_name }}</option>
                            {% endfor %}
                        </select>
                        <select id="periodWeek" class="form-select form-select-sm w-auto d-none invisible" aria-label="Select a period week" required>
                            {% for isoweek, week_info in weeks | items %}
                            <option value="{{ isoweek }}"{% if isoweek == period_week %} selected{% endif %}>{{ isoweek }} ({{ week_info["start"].date().isoformat() }} | {{ week_info["end"].date().isoformat() }})</option>
                            {% endfor %}
                        </select>
                        <input type="date" id="periodDay" class="form-control form-control-sm d-none invisible" value="{{ period_day.date().isoformat() }}" max="{{ period_day.date().isoformat() }}" required>
                    </div>
                </div>
            </div>
            <div class="row d-lg-flex d-grid">
                <div class="col-auto">
                    <div class="input-group input-group-sm">
                        <span class="input-group-text">Timeseries data state</span>
                        <select id="data_states" class="form-select" aria-label="Select a timeseries data state" required>
                            {% for x in data_states %}
                            <option value="{{ x.id }}"{% if x.id == data_state_id %} selected{% endif %}>{{ x.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div id="chartContainer" class="border border-1 rounded bg-white p-2"></div>
        </div>
    </div>
</div>
{% endblock main_content %}

{% block body_scripts %}
{{ super() -}}
{% filter indent(width=8, first=True) %}
<script type="module" src="{{ url_for('static', filename='scripts/modules/views/timeseries/data/completeness.js') }}" defer></script>
{% endfilter %}
{% endblock body_scripts %}