{% import "macros/components/ts_selector.html" as mac_ts_selector %}
{% extends "pages/base.html" %}

{% set title = "Data completeness" %}

{% block main_content %}
{{ super() -}}
<div class="container-fluid">
    <div class="row mb-3">
        <div class="col">
            <div class="row mb-2">
                <div class="col">
                    {% filter indent(width=20, first=False) %}
                    {{ mac_ts_selector.render_ts_selector(element_id="tsSelectorCompleteness") -}}
                    {% endfilter %}
                </div>
            </div>
            <div class="row align-items-end d-lg-flex d-grid">
                <div class="col">
                    <div class="row d-lg-flex d-grid mb-2">
                        <div class="col-auto pb-1 pb-lg-0">
                            <div class="input-group input-group-sm">
                                <span class="input-group-text">Period</span>
                                <select id="periodType" class="form-select" aria-label="Select a period" required>
                                    <option value="Year-Monthly" selected>Monthly over 1 year</option>
                                    <option value="Year-Daily">Daily over 1 year</option>
                                    <option value="Month-Daily">Daily over 1 month</option>
                                    <option value="Week-Daily">Daily over 1 week</option>
                                    <option value="Week-Hourly">Hourly over 1 week</option>
                                    <option value="Day-Hourly">Hourly over 1 day</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-auto">
                            <div class="hstack gap-2">
                                <select id="periodYear" class="form-select form-select-sm d-none invisible" aria-label="Select a period year" required></select>
                                <select id="periodMonth" class="form-select form-select-sm d-none invisible" aria-label="Select a period month" required>
                                    <option value="1">January</option>
                                    <option value="2">February</option>
                                    <option value="3">March</option>
                                    <option value="4">April</option>
                                    <option value="5">May</option>
                                    <option value="6">June</option>
                                    <option value="7">July</option>
                                    <option value="8">August</option>
                                    <option value="9">September</option>
                                    <option value="10">October</option>
                                    <option value="11">November</option>
                                    <option value="12">December</option>
                                </select>
                                <select id="periodWeek" class="form-select form-select-sm w-auto d-none invisible" aria-label="Select a period week" required></select>
                                <input type="date" id="periodDay" class="form-control form-control-sm d-none invisible" value="{{ dt_end.date().isoformat() }}" max="{{ dt_end.date().isoformat() }}" required>
                            </div>
                        </div>
                    </div>
                    <div class="row d-lg-flex d-grid">
                        <div class="col-auto">
                            <div class="input-group input-group-sm">
                                <span class="input-group-text">Timeseries data state</span>
                                <select id="data_states" class="form-select" aria-label="Select a timeseries data state" required></select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-auto pt-2 pt-lg-0">
                    <div class="d-flex justify-content-end">
                        <button id="loadBtn" class="btn btn-sm btn-outline-primary" title="Load chart"><i class="bi bi-arrow-clockwise"></i> Load chart</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div id="chartContainer" class="border border-1 rounded bg-white p-2"></div>
        </div>
    </div>
</div>
<input type="hidden" id="tzname" value="{{ g.campaign_ctxt.tz_name }}">
{% endblock main_content %}

{% block body_scripts %}
{{ super() -}}
{% filter indent(width=8, first=True) %}
<script type="module" src="{{ url_for('static', filename='scripts/modules/views/timeseries/data/completeness.js') }}" defer></script>
{% endfilter %}
{% endblock body_scripts %}