<!doctype html>
<html lang="{{ lang | default('en', true) }}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>BEMServer{% if title %} - {{ title }}{% if subtitle %} - {{ subtitle }}{% endif %}{% endif %}</title>
        <meta name="description" content="{{ description | default('') }}">
        <meta name="author" content="{{ author | default('Nobatek', true) }}">
        <link rel="icon" href="{{ url_for('static', filename='images/bemserver.ico') }}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='images/bemserver.ico') }}">
        {% block head_styles %}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
        <link rel="stylesheet" media="all" href="{{ url_for('static', filename='styles/main.css') }}">
        {% endblock head_styles %}
        {% block head_scripts %}
        {% endblock head_scripts %}
    </head>
    <body>
        {% filter indent(width=8, first=True) %}
        {% block body_content %}
        {% include "components/flash_messages.html" +%}
        {% endblock body_content %}
        {% endfilter %}
        {% block body_scripts %}
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
        {% endblock body_scripts %}
    </body>
</html>