{% extends "components/user_groups/group_for_target_base.html" %}

{% block group_for_target_remove %}
{% filter indent(width=4, first=True) %}
<form action="{{ url_for('user_groups.remove_user', id=comp_params['user_group'].rel_id, next=url_for(request.endpoint, id=comp_params['target'].id)) }}" method="POST" data-modal-confirm-message="Remove &lt;mark&gt;{{ comp_params['target'].name }}&lt;/mark&gt;'s user account from &lt;mark&gt;{{ comp_params['user_group'].name }}&lt;/mark&gt; group">
    <button class="btn btn-sm btn-outline-danger rounded-circle px-1 py-0" type="submit" title="Remove user from group"><i class="bi bi-person-x"></i></button>
</form>
{% endfilter %}
{% endblock group_for_target_remove %}