<div class="border border-1 rounded bg-white p-2">
    {% if not signed_user.is_admin %}
    <i class="bi bi-people"></i> {{ user_group.name }}
    {% else %}
    <div class="d-flex align-items-center gap-3">
        <a class="link-secondary text-decoration-none" role="button" href="{{ url_for('user_groups.manage', id=user_group.id) }}" title="Manage user group"><i class="bi bi-people"></i> {{ user_group.name }}</a>
        <form action="{{ url_for('campaign_scopes.remove_user_group', id=campaign_scope.id, rel_id=user_group.rel_id, next=url_for(request.endpoint, id=campaign_scope.id)) }}" method="POST" data-modal-confirm-message="Remove &lt;mark&gt;{{ user_group.name }}&lt;/mark&gt; user group from &lt;mark&gt;{{ campaign_scope.name }}&lt;/mark&gt; campaign scope">
            <button class="btn btn-sm btn-outline-danger px-1 py-0" type="submit" title="Remove user group from campaign scope"><i class="bi bi-x-lg"></i></button>
        </form>
    </div>
    {% endif %}
</div>