{% if not signed_user.is_admin %}
<div class="border border-1 rounded bg-white p-2">
    <i class="bi bi-people"></i> {{ user_group.name }}
</div>
{% else %}
<div class="btn-group bg-white rounded" role="group" aria-label="Actions on user group">
    <a class="btn btn-outline-secondary" role="button" href="{{ url_for('user_groups.manage', id=user_group.id) }}" title="Manage user group"><i class="bi bi-people"></i> {{ user_group.name }}</a>
    <form class="btn-group" action="{{ url_for('user_groups.remove_user', id=user.id, rel_id=user_group.rel_id, next=url_for(request.endpoint, id=user.id)) }}" method="POST" data-modal-confirm-message="Remove &lt;mark&gt;{{ user.name }}&lt;/mark&gt;'s user account from &lt;mark&gt;{{ user_group.name }}&lt;/mark&gt; group">
        <button class="btn btn-outline-danger" type="submit" title="Remove user from group"><i class="bi bi-x-lg"></i></button>
    </form>
</div>
{% endif %}