{% extends "pages/base.html" %}

{% set title = "Timeseries data state" %}
{% set subtitle = "Edit" %}

{% block main_toolbar %}
{{ super() -}}
{% filter indent(width=20, first=True) %}
<form id="delForm" action="{{ url_for('timeseries.datastates.delete', id=timeseries_datastate.id) }}" method="POST" data-modal-confirm-message="Delete &lt;mark&gt;{{ timeseries_datastate.name }}&lt;/mark&gt; timeseries data state">
    <input type="hidden" form="delForm" id="delEtag" name="delEtag" value="{{ etag }}">
    <button type="submit" form="delForm" class="btn btn-sm btn-outline-danger text-nowrap" title="Delete"><i class="bi bi-trash"></i> Delete</button>
</form>
{% endfilter %}
{% endblock main_toolbar %}

{% block main_content %}
{{ super() -}}
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <fieldset>
                <legend class="invisible d-none">Timeseries data state information</legend>
                <div class="mb-3">
                    <label class="form-label" for="name">Name</label>
                    <input type="text" class="form-control" id="name" name="name" form="editForm" value="{{ timeseries_datastate.name }}" minlength="1" maxlength="80" required autofocus>
                </div>
                <div class="d-flex justify-content-end gap-2">
                    <a href="{{ url_for('timeseries.datastates.list') }}" class="btn btn-outline-secondary btn-sm text-break" title="Cancel">Cancel</a>
                    <form id="editForm" action="{{ url_for('timeseries.datastates.edit', id=timeseries_datastate.id) }}" method="POST">
                        <input type="hidden" form="editForm" id="editEtag" name="editEtag" value="{{ etag }}">
                        <button type="submit" form="editForm" class="btn btn-sm btn-primary text-break" title="Save"><i class="bi bi-save"></i> Save</button>
                    </form>
                </div>
            </fieldset>
        </div>
    </div>
</div>
{% endblock main_content %}