{% extends "pages/base.html" %}

{% set title = "Timeseries data states" %}

{% block main_toolbar %}
{{ super() -}}
{% filter indent(width=20, first=True) %}
<a href="{{ url_for('timeseries.datastates.create') }}" class="btn btn-sm btn-outline-primary text-nowrap" title="Add a new timeseries data state"><i class="bi bi-plus-circle"></i> New data state</a>
{% endfilter %}
{% endblock main_toolbar %}

{% block main_content %}
{{ super() -}}
<div class="container-fluid">
    <div class="row justify-content-end mb-3">
        <div class="col-auto">
            <small class="text-nowrap text-muted"><app-items-count first-item="1" last-item="{{ timeseries_datastates | length }}" total-count="{{ timeseries_datastates | length }}"></app-items-count></small>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="list-group">
                {% for x in timeseries_datastates %}
                <a class="list-group-item list-group-item-action d-flex align-items-center gap-3 py-3" href="{{ url_for('timeseries.datastates.edit', id=x.id) }}" title="Edit">
                    <i class="bi bi-inbox"></i>
                    <h6 class="fw-bold text-break mb-0">{{ x.name }}</h6>
                </a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock main_content %}

{% block body_scripts %}
{{ super() -}}
{% filter indent(width=8, first=True) %}
<script type="module" src="{{ url_for('static', filename='scripts/modules/components/itemsCount.js') }}"></script>
{% endfilter %}
{% endblock body_scripts %}