{% extends "pages/base.html" %}
{% import "macros/components/campaign.html" as mac_camp %}

{% if signed_user.is_admin %}
    {% set title = "Manage weather data service" %}
{% else %}
    {% set title = "Weather data service" %}
{% endif %}

{% if not tab %}
    {% set tab = "weather" %}
{% endif %}

{% block main_content %}
{{ super() -}}
<div class="container-fluid">
    <div class="row g-5 mb-3">
        <div class="col-auto">
            <h5>Campaign</h5>
            {{- mac_camp.render_campaign_info(g.campaign_ctxt.name, g.campaign_ctxt.campaign.state, render_style="bullet") }}
        </div>
        <div class="col">
            <div class="alert alert-info border border-info mb-0" role="alert">
                <i class="bi bi-info-square me-1"></i>
                For each site, {% if signed_user.is_admin %}by using the ON/OFF buttons below, {% endif %}weather data can be fetched automatically from <a href="https://oikolab.com/" target="_blank">oikolab</a> web service.
                {% if signed_user.is_admin %}
                <p class="mb-0">You can also do it manually using the fetch data button (<i class="bi bi-cloud-download text-primary"></i>), weither the automatic fetch service is enabled or not.</p>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col">
            <div class="accordion" id="accordionFilters">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingFilters">
                        <button class="accordion-button{% if not is_filtered %} collapsed{% endif %}" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFilters" aria-controls="collapseFilters" aria-expanded="{{ is_filtered | lower }}">
                            <span class="fw-bold text-secondary"><i class="bi bi-funnel"></i> Filters</span>
                        </button>
                    </h2>
                    <div id="collapseFilters" class="accordion-collapse collapse{% if is_filtered %} show{% endif %}" aria-labelledby="headingFilters" data-bs-parent="#accordionFilters">
                        <div class="accordion-body">
                            <div id="filtersContainer" class="d-sm-flex d-grid align-items-center gap-2">
                                <input type="text" class="form-control form-control-sm" id="siteNameSearch" placeholder="Site..." aria-label="Site name search" aria-describedby="siteNameSearch" autofocus>
                                <a id="removeFiltersBtn" class="btn btn-sm btn-outline-secondary text-nowrap my-auto" role="button" title="Remove filters"><i class="bi bi-eraser"></i> Remove</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <ul class="nav nav-tabs app-tabs" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link{% if tab == 'weather' %} active{% endif %}" id="weather-tab" data-bs-toggle="tab" data-bs-target="#weather-tabcontent" type="button" role="tab" aria-controls="weather-tabcontent" aria-selected="{% if tab == 'weather' %}true{% else %}false{% endif %}">Weather</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link{% if tab == 'weather_forecast' %} active{% endif %}" id="weatherForecast-tab" data-bs-toggle="tab" data-bs-target="#weatherForecast-tabcontent" type="button" role="tab" aria-controls="weatherForecast-tabcontent" aria-selected="{% if tab == 'weather_forecast' %}true{% else %}false{% endif %}">Weather forecast</button>
                </li>
            </ul>
            <div class="tab-content app-tab-content overflow-auto border border-top-0 bg-white mb-3">
                <div class="tab-pane{% if tab == 'weather' %} show active{% endif %} p-3" id="weather-tabcontent" role="tabpanel" aria-labelledby="weather-tab">
                    <div class="table-responsive-xl">
                        <table class="table table-sm table-hover caption-top">
                            <caption class="text-end">
                                <small class="text-nowrap text-muted"><app-items-count id="weatherItemsCount"></app-items-count></small>
                            </caption>
                            <thead>
                                <tr>
                                    <th scope="col">Site</th>
                                    <th scope="col">Service state (on server)</th>
                                    {% if signed_user.is_admin %}
                                    <th scope="col">Fetch data</th>
                                    {% endif %}
                                </tr>
                            </thead>
                            <tbody class="table-group-divider" id="weatherServiceStatesContainer">
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="tab-pane{% if tab == 'weather_forecast' %} show active{% endif %} p-3" id="weatherForecast-tabcontent" role="tabpanel" aria-labelledby="weatherForecast-tab">
                    <div class="table-responsive-xl">
                        <table class="table table-sm table-hover caption-top">
                            <caption class="text-end">
                                <small class="text-nowrap text-muted"><app-items-count id="weatherForecastItemsCount"></app-items-count></small>
                            </caption>
                            <thead>
                                <tr>
                                    <th scope="col">Site</th>
                                    <th scope="col">Service state (on server)</th>
                                </tr>
                            </thead>
                            <tbody class="table-group-divider" id="weatherForecastServiceStatesContainer">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% if signed_user.is_admin %}
<div class="modal fade" id="fetchDataModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="fetchDataModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content placeholder-glow">
            <div class="modal-header">
                <h5 class="modal-title" id="fetchDataModalLabel">Fetch weather data</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="fetchDataModalBody">
                <input type="hidden" id="fetchDataSiteId">
                <div class="row d-xl-flex d-grid mb-4">
                    <div class="col pb-2 pb-xl-0">
                        <div is="app-datetime-picker" id="fetchDataDatetimeStart" title="From" time="00:00" tzname="{{ g.campaign_ctxt.tz_name }}" required>
                            <div is="app-spinner"></div>
                        </div>
                    </div>
                    <div class="col">
                        <div is="app-datetime-picker" id="fetchDataDatetimeEnd" title="Until" time="00:00" tzname="{{ g.campaign_ctxt.tz_name }}" required>
                            <div is="app-spinner"></div>
                        </div>
                        <small class="fst-italic text-muted">(excluded from the interval)</small>
                    </div>
                </div>
                <div id="fetchDataModalParamsContainer"></div>
            </div>
            <div class="modal-footer d-flex justify-content-end gap-2">
                <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-dismiss="modal">Cancel</button>
                <button id="fetchDataBtn" type="button" class="btn btn-sm btn-primary" disabled><i class="bi bi-cloud-download"></i> Fetch</button>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock main_content %}

{% block body_scripts %}
{{ super() -}}
{% filter indent(width=8, first=True) %}
<script type="module" src="{{ url_for('static', filename='scripts/modules/views/services/weatherData/manage.js') }}" defer></script>
{% endfilter %}
{% endblock body_scripts %}