{% extends "pages/base.html" %}

{% set title = "Campaign scope" %}
{% set subtitle = "Edit" %}

{% block main_toolbar %}
{{ super() -}}
{% filter indent(width=20, first=True) %}
<div class="d-lg-flex d-grid gap-3">
    {% set url_back = url_for("campaigns.view", id=campaign_scope.campaign_id, tab="scopes") %}
    <a href="{{ url_back }}" class="btn btn-sm btn-outline-secondary text-nowrap ms-auto" title="Back to campaign"><i class="bi bi-arrow-return-left"></i> Back to campaign</a>
    <div class="vr d-none d-lg-block"></div>
    <form id="delForm" action="{{ url_for('campaign_scopes.delete', id=campaign_scope.id, next=url_back) }}" method="POST" data-modal-confirm-message="Delete &lt;mark&gt;{{ campaign_scope.name }}&lt;/mark&gt; campaign scope">
        <input type="hidden" form="delForm" id="delEtag" name="delEtag" value="{{ etag }}">
        <button type="submit" form="delForm" class="btn btn-sm btn-outline-danger text-nowrap" title="Delete"><i class="bi bi-trash"></i> Delete</button>
    </form>
</div>
{% endfilter %}
{% endblock main_toolbar %}

{% block main_content %}
{{ super() -}}
<div class="container-fluid">
    <div class="row g-5 mb-3">
        <div class="col">
            <div class="d-flex align-items-start gap-3">
                <h5>Campaign</h5>
                <span class="fw-bold text-{% if campaign_scope.campaign_state == 'ongoing' %}success{% else %}danger{% endif %} text-opacity-75">[{{ campaign_scope.campaign_state | upper }}]</span>
            </div>
            <p class="text-break">{{ campaign_scope.campaign_name }}</p>
        </div>
        <div class="col">
            <h5>Campaign scope</h5>
            <p class="text-break">{{ campaign_scope.name }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <fieldset>
                <legend class="invisible d-none">Campaign scope informations</legend>
                <div class="mb-3">
                    <label class="form-label" for="name">Name</label>
                    <input type="text" form="editForm" class="form-control" id="name" name="name" value="{{ campaign_scope.name }}" minlength="1" maxlength="80" required autofocus>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="description">Description</label>
                    <textarea form="editForm" class="form-control" id="description" name="description" rows="3">{{ campaign_scope.description }}</textarea>
                </div>
                <div class="d-flex justify-content-end gap-2">
                    <a href="{{ url_for('campaign_scopes.view', id=campaign_scope.id) }}" class="btn btn-outline-secondary btn-sm text-break" title="Cancel">Cancel</a>
                    <form id="editForm" action="{{ url_for('campaign_scopes.edit', id=campaign_scope.id) }}" method="POST">
                        <input type="hidden" form="editForm" id="editEtag" name="editEtag" value="{{ etag }}">
                        <button type="submit" form="editForm" class="btn btn-sm btn-primary text-break" title="Save"><i class="bi bi-save"></i> Save</button>
                    </form>
                </div>
            </fieldset>
        </div>
    </div>
</div>
{% endblock main_content %}