{% extends "pages/base.html" %}

{% set title = "Campaign scope" %}
{% if tab is undefined %}
    {% set tab = "general" %}
{% endif %}

{% block main_toolbar %}
{{ super() -}}
{% filter indent(width=20, first=True) %}
<div class="d-lg-flex d-grid gap-3">
    {% set url_back = url_for("campaigns.view", id=campaign_scope.campaign_id, tab="scopes") %}
    <a href="{{ url_back }}" class="btn btn-sm btn-outline-secondary text-nowrap ms-auto" title="Back to campaign"><i class="bi bi-arrow-return-left"></i> Back to campaign</a>
    <div class="vr d-none d-lg-block"></div>
    <form id="delForm" action="{{ url_for('campaign_scopes.delete', id=campaign_scope.id, next=url_back) }}" method="POST" data-modal-confirm-message="Delete &lt;mark&gt;{{ campaign_scope.name }}&lt;/mark&gt; campaign scope">
        <input type="hidden" form="delForm" id="delEtag" name="delEtag" value="{{ etag }}">
        <button type="submit" form="delForm" class="btn btn-sm btn-outline-danger text-nowrap" title="Delete"><i class="bi bi-trash"></i> Delete</button>
    </form>
</div>
{% endfilter %}
{% endblock main_toolbar %}

{% block main_content %}
{{ super() -}}
<div class="container-fluid">
    <div class="row g-5 mb-3">
        <div class="col">
            <div class="d-flex align-items-start gap-3">
                <h5>Campaign</h5>
                <span class="fw-bold text-{% if campaign_scope.campaign_state == 'ongoing' %}success{% else %}danger{% endif %} text-opacity-75">[{{ campaign_scope.campaign_state | upper }}]</span>
            </div>
            <p class="text-break">{{ campaign_scope.campaign_name }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <ul class="nav nav-tabs app-tabs" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link{% if tab == 'general' %} active{% endif %}" id="general-tab" data-bs-toggle="tab" data-bs-target="#general-tabcontent" type="button" role="tab" aria-controls="general-tabcontent" aria-selected="{% if tab == 'general' %}true{% else %}false{% endif %}">General</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link{% if tab == 'groups' %} active{% endif %}" id="groups-tab" data-bs-toggle="tab" data-bs-target="#groups-tabcontent" type="button" role="tab" aria-controls="groups-tabcontent" aria-selected="{% if tab == 'groups' %}true{% else %}false{% endif %}">User groups <span id="userGroupCount" class="badge bg-secondary">{{ user_groups|length }}</span></button>
                </li>
            </ul>
            <div class="tab-content app-tab-content overflow-auto border border-top-0 bg-white mb-3">
                <div class="tab-pane fade{% if tab == 'general' %} show active{% endif %} p-3" id="general-tabcontent" role="tabpanel" aria-labelledby="general-tab">
                    <div class="d-lg-flex justify-content-between">
                        <dl class="col">
                            <dt>Name</dt>
                            <dd class="text-break">{{ campaign_scope.name }}</dd>
                            <dt>Description</dt>
                            <dd class="text-break">{{ campaign_scope.description | default("-", true) }}</dd>
                        </dl>
                        {% if signed_user.is_admin %}
                        <div class="order-0 order-lg-1 text-end">
                            <a href="{{ url_for('campaign_scopes.edit', id=campaign_scope.id) }}" class="btn btn-sm btn-outline-primary text-break" role="button" title="Edit"><i class="bi bi-pencil"></i> Edit</a>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="tab-pane fade{% if tab == 'groups' %} show active{% endif %} p-3" id="groups-tabcontent" role="tabpanel" aria-labelledby="groups-tab">
                    <div class="d-lg-flex flex-nowrap d-grid justify-content-lg-between gap-3">
                        <div class="order-1 order-lg-0 w-100" id="userGroupContainer"></div>
                        {% if signed_user.is_admin %}
                        <div class="order-0 order-lg-1 text-end">
                            <button id="userGroupAvailableBtn" class="btn btn-sm btn-outline-secondary text-nowrap" type="button" data-bs-toggle="collapse" data-bs-target="#userGroupAvailableCollapsePanel" aria-expanded="false" aria-controls="userGroupAvailableCollapsePanel"><i class="bi bi-arrow-bar-left"></i> Manage groups</button>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="w-100 d-lg-none d-block"></div>
        <div class="col-auto mt-lg-0 mt-3 d-none" id="userGroupAvailableColumn">
            <div class="collapse collapse-horizontal app-panel-collapse" id="userGroupAvailableCollapsePanel">
                <div class="app-panel-collapse-body">
                    <h5>
                        Available user groups
                        <span class="badge bg-secondary" id="userGroupAvailableCount">0</span>
                        <sup><a id="userGroupAvailableHelpLnk" class="link-secondary" title="Help" role="button" data-bs-toggle="collapse" data-bs-target="#userGroupAvailableHelpCollapsePanel" aria-expanded="false" aria-controls="userGroupAvailableHelpCollapsePanel"><i class="bi bi-question-diamond"></i></a></sup>
                    </h5>
                    <div class="collapse mb-3" id="userGroupAvailableHelpCollapsePanel">
                        <div class="alert alert-info pb-0" role="alert">
                            <span class="fw-bold"><i class="bi bi-question-diamond"></i> Help</span>
                            <p class="ms-3"><span class="fw-bold fst-italic">Drag and drop</span> in the <span class="border border-4 rounded-3 bg-white app-border-dashed text-black text-opacity-25 p-1">appropriate area</span> the groups allowed to access this campaign scope.</p>
                        </div>
                    </div>
                    <div class="d-flex flex-wrap gap-2 p-2" id="userGroupAvailableContainer"></div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock main_content %}

{% block body_scripts %}
{{ super() -}}
{% filter indent(width=8, first=True) %}
<script type="module">
    import { CampaignScopeManageGroupsView } from "{{ url_for('static', filename='scripts/modules/views/campaignScopes/manageGroups.js') }}";


    const campaignScope = {{ campaign_scope | tojson }};


    document.addEventListener("DOMContentLoaded", () => {

        let campaignScopeManageGroupsView = new CampaignScopeManageGroupsView(campaignScope);
        campaignScopeManageGroupsView.refresh();

    });
</script>
{% endfilter %}
{% endblock body_scripts %}