{% extends "pages/base.html" %}

{% set title = "Timeseries" %}
{% set subtitle = "Edit" %}

{% set url_create_property = url_for('timeseries.properties.create', back=url_for('timeseries.edit', id=timeseries.id, tab='properties')|urlencode) %}

{% block main_toolbar %}
{{ super() -}}
{% filter indent(width=20, first=True) %}
<form id="delForm" action="{{ url_for('timeseries.delete', id=timeseries.id) }}" method="POST" data-modal-confirm-message="Delete &lt;mark&gt;{{ timeseries.name }}&lt;/mark&gt; timeseries">
    <input type="hidden" form="delForm" id="delEtag" name="delEtag" value="{{ etag }}">
    <button type="submit" form="delForm" class="btn btn-sm btn-outline-danger text-nowrap" title="Delete"><i class="bi bi-trash"></i> Delete</button>
</form>
{% endfilter %}
{% endblock main_toolbar %}

{% block main_content %}
{{ super() -}}
<div class="container-fluid">
    <div class="row mb-3">
        <div class="col">
            <h5>Campaign</h5>
            <p>{{ g.campaign_ctxt.name }}</p>
        </div>
        <div class="col">
            <h5>Campaign scope</h5>
            <p>{{ timeseries.campaign_scope_name }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <ul class="nav nav-tabs app-tabs" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link{% if tab == 'general' %} active{% endif %}" id="general-tab" data-bs-toggle="tab" data-bs-target="#general-tabcontent" type="button" role="tab" aria-controls="general-tabcontent" aria-selected="{% if tab == 'general' %}true{% else %}false{% endif %}">General</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link{% if tab == 'properties' %} active{% endif %}" id="properties-tab" data-bs-toggle="tab" data-bs-target="#properties-tabcontent" type="button" role="tab" aria-controls="properties-tabcontent" aria-selected="{% if tab == 'properties' %}true{% else %}false{% endif %}">Properties <span class="badge bg-secondary">{{ properties|length }}</span></button>
                </li>
            </ul>
            <div class="tab-content app-tab-content overflow-auto border border-top-0 bg-white mb-3">
                <div class="tab-pane fade{% if tab == 'general' %} show active{% endif %} p-3" id="general-tabcontent" role="tabpanel" aria-labelledby="general-tab">
                    <fieldset>
                        <legend class="invisible d-none">Timeseries general informations</legend>
                        <div class="mb-3">
                            <label class="form-label" for="name">Name</label>
                            <input type="text" form="editForm" class="form-control" id="name" name="name" minlength="1" maxlength="80" value="{{ timeseries.name }}" required autofocus>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="description">Description</label>
                            <textarea form="editForm" class="form-control" id="description" name="description" maxlength="500" rows="3">{{ timeseries.description }}</textarea>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="unit_symbol">Unit symbol</label>
                            <input type="text" form="editForm" class="form-control" id="unit_symbol" name="unit_symbol" maxlength="20" value="{{ timeseries.unit_symbol }}">
                        </div>
                    </fieldset>
                </div>
                <div class="tab-pane fade{% if tab == 'properties' %} show active{% endif %} p-3" id="properties-tabcontent" role="tabpanel" aria-labelledby="properties-tab">
                    <fieldset>
                        <legend class="invisible d-none">Timeseries properties</legend>
                        {% for property_id, property_data in properties.items() %}
                        <div class="mb-3">
                            <label class="form-label" for="property-{{ property_id }}">{{ property_data.name }}{% if property_data.unit_symbol %}<span class="fst-italic text-muted ms-1">[{{ property_data.unit_symbol }}]</span>{% endif %}</label>
                            <input type="hidden" form="editForm" class="form-control" id="property-{{ property_id }}-etag" name="property-{{ property_id }}-etag" value="{{ property_data.etag }}">
                            <div class="d-flex justify-content-between align-items-top gap-3">
                                <div class="w-100">
                                    {% if property_data.value_type == "boolean" %}
                                    <div class="form-check form-switch">
                                        <input type="checkbox"{% if property_data.value == "true" %} checked{% endif %} form="editForm" class="form-check-input" role="switch" id="property-{{ property_id }}" name="property-{{ property_id }}">
                                    </div>
                                    {% else %}
                                    <input {% if property_data.value_type == "string" %}type="text" maxlength="100"{% elif property_data.value_type in ["integer", "float"] %}type="number"{% if property_data.value_type == "float" %} step="0.01"{% endif %}{% endif %} form="editForm" class="form-control" id="property-{{ property_id }}" name="property-{{ property_id }}" value="{{ property_data.value }}" required>
                                    {% endif %}
                                    <small class="fst-italic text-muted">{{ [property_data.description, property_data.value_type] | select | join(", ") }}</small>
                                </div>
                                <form class="mt-1" id="delPropertyForm-{{ property_data.id }}" action="{{ url_for('timeseries.delete_property', id=timeseries.id, property_id=property_data.id) }}" method="POST" data-modal-confirm-message="Delete &lt;mark&gt;{{ property_data.name }}&lt;/mark&gt; property">
                                    <input type="hidden" form="delPropertyForm-{{ property_data.id }}" id="delPropertyEtag-{{ property_data.id }}" name="delPropertyEtag-{{ property_data.id }}" value="{{ property_data.etag }}">
                                    <button type="submit" form="delPropertyForm-{{ property_data.id }}" class="btn btn-sm btn-outline-danger" title="Delete property"><i class="bi bi-trash"></i></button>
                                </form>
                            </div>
                        </div>
                        {% endfor %}
                        <div class="d-flex justify-content-center mb-3">
                            {% if available_properties|length > 0 %}
                            <div class="dropdown">
                                <button class="btn btn-sm btn-outline-primary dropdown-toggle" type="button" id="addPropertyBtn" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="bi bi-plus-circle"></i> Define a property
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                    <li><a class="dropdown-item" role="button" data-bs-toggle="modal" data-bs-target="#addProperty">Choose from available properties ({{ available_properties|length }})</a></li>
                                    <li><a class="dropdown-item" href="{{ url_create_property }}">Create a new property</a></li>
                                </ul>
                            </div>
                            {% else %}
                            <a class="btn btn-sm btn-outline-primary" href="{{ url_create_property }}" title="Create a new property"><i class="bi bi-plus-circle"></i> Add a new property</a>
                            {% endif %}
                        </div>
                    </fieldset>
                </div>
            </div>
            <div class="d-flex justify-content-end gap-2">
                <a href="{{ url_for('timeseries.list') }}" class="btn btn-sm btn-outline-secondary text-break" title="Cancel">Cancel</a>
                <form id="editForm" action="{{ url_for('timeseries.edit', id=timeseries.id) }}" method="POST">
                    <input type="hidden" form="editForm" id="editEtag" name="editEtag" value="{{ etag }}">
                    <button type="submit" class="btn btn-sm btn-primary text-break" title="Save"><i class="bi bi-save"></i> Save</button>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="addProperty" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="addPropertyLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addPropertyLabel">Define a property</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="addPropertyForm" action="{{ url_for('timeseries.create_property', id=timeseries.id) }}" method="POST">
                    <div class="mb-3">
                        <label class="form-label" for="availableProperty">Available properties <span class="badge bg-secondary">{{ available_properties|length }}</span></label>
                        <select form="addPropertyForm" class="form-select" id="availableProperty" name="availableProperty" aria-label="Select a property">
                            {% for property_id, property_data in available_properties.items() %}
                            <option value="{{ property_id }}" data-property-type="{{ property_data.value_type }}" data-property-description="{{ property_data.description }}"{% if loop.first %} selected{% endif %}>{{ property_data.name }}{% if property_data.unit_symbol %} [{{ property_data.unit_symbol }}]{% endif %}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="mb-3" id="availablePropertyInputContainer">
                        <input type="hidden" class="form-control" form="addPropertyForm" id="availablePropertyValueType" name="availablePropertyValueType">
                        <div>
                            <input class="form-control" form="addPropertyForm" id="availablePropertyValue" name="availablePropertyValue">
                        </div>
                        <small class="fst-italic text-muted" id="availablePropertyDescription"></small>
                    </div>
                </form>
            </div>
            <div class="modal-footer d-flex justify-content-between">
                <a class="btn btn-sm btn-outline-primary" href="{{ url_create_property }}" title="Create a new property"><i class="bi bi-plus-circle"></i> Add a new property</a>
                <div>
                    <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" form="addPropertyForm" class="btn btn-sm btn-primary"><i class="bi bi-save"></i> Save</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock main_content %}

{% block body_scripts %}
{{ super() -}}
{% filter indent(width=8, first=True) %}
<script type="module">

    document.addEventListener("DOMContentLoaded", () => {

        let availablePropertySelectElmt = document.getElementById("availableProperty");
        let availablePropertyInputContainerElmt = document.getElementById("availablePropertyInputContainer");
        let availablePropertyInputElmt = document.getElementById("availablePropertyValue");
        let availablePropertyValueTypeElmt = document.getElementById("availablePropertyValueType");
        let availablePropertyDescriptionElmt = document.getElementById("availablePropertyDescription");

        function updatePropertyDescription() {
            if (availablePropertySelectElmt.selectedIndex != -1) {
                let selectedProperty = availablePropertySelectElmt.selectedOptions[0];
                let propertyType = selectedProperty.getAttribute("data-property-type", "string");

                availablePropertyInputElmt.removeAttribute("readonly");
                availablePropertyInputElmt.removeAttribute("maxlength");
                availablePropertyInputElmt.removeAttribute("required");
                availablePropertyInputElmt.removeAttribute("step");
                availablePropertyInputElmt.removeAttribute("role");
                availablePropertyInputElmt.classList.replace("form-check-input", "form-control");
                availablePropertyInputElmt.parentElement.className = "";

                availablePropertyValueTypeElmt.value = propertyType;

                switch (propertyType) {
                    case "string":
                        availablePropertyInputElmt.type = "text";
                        availablePropertyInputElmt.setAttribute("maxlength", 100);
                        availablePropertyInputElmt.setAttribute("required", true);
                        break;
                    case "integer":
                        availablePropertyInputElmt.type = "number";
                        availablePropertyInputElmt.setAttribute("required", true);
                        break;
                    case "float":
                        availablePropertyInputElmt.type = "number";
                        availablePropertyInputElmt.setAttribute("step", 0.01);
                        availablePropertyInputElmt.setAttribute("required", true);
                        break;
                    case "boolean":
                        availablePropertyInputElmt.classList.replace("form-control", "form-check-input");
                        availablePropertyInputElmt.type = "checkbox";
                        availablePropertyInputElmt.setAttribute("role", "switch");
                        availablePropertyInputElmt.parentElement.classList.add("form-check", "form-switch");
                        break;
                }

                availablePropertyDescriptionElmt.innerHTML = [selectedProperty.getAttribute("data-property-description"), propertyType].filter(Boolean).join(", ");
            }
            else {
                availablePropertyInputElmt.setAttribute("readonly", true);
                availablePropertyDescriptionElmt.innerHTML = "";
            }
        }

        if (availablePropertySelectElmt.selectedIndex != -1) {
            updatePropertyDescription();
        }
        availablePropertySelectElmt.addEventListener("change", (event) => {
            event.preventDefault();

            updatePropertyDescription();
        });

    });
</script>
{% endfilter %}
{% endblock body_scripts %}