{% import "macros/components/structural_element_selector.html" as mac_struct_elmt_selector %}
{% extends "pages/base.html" %}

{% set title = "Timeseries" %}

{% block main_toolbar %}
{{ super() -}}
{% filter indent(width=20, first=True) %}
<div class="d-lg-flex d-grid gap-2">
    {% if signed_user.is_admin %}
    <a href="{{ url_for('timeseries.manage_structural_elements') }}" class="btn btn-sm btn-outline-secondary text-nowrap" title="Manage timeseries structural elements">Manage structural elements</a>
    <div class="vr d-none d-lg-block mx-2"></div>
    {% endif %}
    <a href="{{ url_for('timeseries.create') }}" class="btn btn-sm btn-outline-primary text-nowrap ms-auto" title="Add a new timeseries"><i class="bi bi-plus-circle"></i> New timeseries</a>
</div>
{% endfilter %}
{% endblock main_toolbar %}

{% block main_content %}
{{ super() -}}
<div class="container-fluid">
    <div class="row mb-4">
        <div class="col">
            <div class="accordion" id="accordionFilters">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingFilters">
                        <button class="accordion-button{% if not is_filtered %} collapsed{% endif %}" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFilters" aria-controls="collapseFilters" aria-expanded="{{ is_filtered | lower }}">
                            <span class="fw-bold text-secondary"><i class="bi bi-funnel"></i> Filters</span>
                        </button>
                    </h2>
                    <div id="collapseFilters" class="accordion-collapse collapse{% if is_filtered %} show{% endif %}" aria-labelledby="headingFilters" data-bs-parent="#accordionFilters">
                        <div class="accordion-body">
                            <div class="row mb-3">
                                <div class="col-12 col-xl-6">
                                    <label for="siteSelector" class="form-label">Site/building... selection</label>
                                    {% filter indent(width=12, first=False) %}
                                    {{ mac_struct_elmt_selector.render_site_selector(html_element_id="siteSelector", title=none) -}}
                                    {% endfilter %}
                                    <input type="hidden" form="formFilters" id="structural_element_filter" name="{{ filters['structural_element_filter_type'] }}" value="{{ filters['structural_element_filter_id'] }}">
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" form="formFilters" role="switch" id="structural_element_recursive" name="structural_element_recursive"{% if filters["structural_element_recursive"] %} checked {% endif %}>
                                        <label class="form-check-label" for="structural_element_recursive">extend search to sub-locations</label>
                                    </div>
                                </div>
                                <div class="col-12 col-xl-6">
                                    <label for="zoneSelector" class="form-label">Zone selection</label>
                                    {% filter indent(width=12, first=False) %}
                                    {{ mac_struct_elmt_selector.render_zone_selector(html_element_id="zoneSelector", title=none) -}}
                                    {% endfilter %}
                                    <input type="hidden" form="formFilters" id="zone_filter" name="zone_id" value="{{ filters['zone_id'] }}">
                                </div>
                            </div>
                            <form id="formFilters" class="d-xl-flex d-grid gap-2" action="{{ url_for(request.endpoint) }}" method="POST">
                                <select class="form-select form-select-sm border{% if filters['campaign_scope_id'] is not none %} border-info bg-info bg-opacity-10{% endif %}" id="campaign_scope" name="campaign_scope" form="formFilters" aria-label="Select a filter value">
                                    <option value="{{ none }}"{% if filters["campaign_scope_id"] is none %} selected{% endif %}>All campaign scopes</option>
                                    {% for x in campaign_scopes %}
                                    <option value="{{ x.id }}"{% if filters["campaign_scope_id"] == x.id|string %} selected{% endif %}>{{ x.name }}</option>
                                    {% endfor %}
                                </select>
                                <button class="btn btn-sm btn-outline-info text-nowrap" type="submit" form="formFilters" title="Apply filters"><i class="bi bi-funnel"></i> Apply</button>
                                <a class="btn btn-sm btn-outline-secondary text-nowrap" role="button" href="{{ url_for(request.endpoint) }}" title="Remove filters"><i class="bi bi-eraser"></i> Remove</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-2">
        <div class="d-lg-flex justify-content-lg-between align-items-center d-grid gap-2 w-100">
            <div class="d-flex justify-content-between align-items-center gap-4 w-100">
                <div class="d-flex align-items-center gap-2">
                    <label class="form-label text-nowrap mb-0" for="page_size">Page size</label>
                    <select class="form-select form-select-sm" id="page_size" name="page_size" form="formFilters" aria-label="Select a page size">
                        {% for x in [5, 10, 25, 50, 100] %}
                        <option value="{{ x }}"{% if filters["page_size"] == x %} selected{% endif %}>{{ x }}</option>
                        {% endfor %}
                    </select>
                </div>
                <small>
                    <app-items-count{% if pagination.page is defined %} first-item="{{ ((pagination.page - 1) * filters.page_size) + 1 }}" last-item="{% if pagination.page == pagination.last_page %}{{ pagination.total }}{% else %}{{ ((pagination.page - 1) * filters.page_size) + filters.page_size }}{% endif %}" total-count="{{ pagination.total }}"{% endif %}></app-items-count>
                </small>
            </div>
            <nav aria-label="Timeseries pagination">
                <input type="hidden" form="formFilters" id="page" name="page" value="{{ pagination.page }}">
                <ul class="pagination justify-content-end mb-0">
                    <li class="page-item{% if pagination.page == pagination.first_page %} disabled{% endif %}"><a class="page-link"{% if pagination.page != pagination.first_page %} role="button" title="First page" data-page="{{ pagination.first_page }}"{% endif %}><i class="bi bi-chevron-double-left"></i></a></li>
                    <li class="page-item{% if pagination.previous_page is undefined %} disabled{% endif %}"><a class="page-link"{% if pagination.previous_page is not undefined %} role="button" title="Previous page" data-page="{{ pagination.previous_page }}"{% endif %}><i class="bi bi-chevron-left"></i></a></li>
                    {% if pagination.nav_links.has_start_ellipsis %}
                    <li class="page-item disabled"><a class="page-link">...</a></li>
                    {% endif %}
                    {% for x in range(pagination.nav_links.start_page, pagination.nav_links.end_page + 1) %}
                    <li class="page-item{% if pagination.page is defined %}{% if x == pagination.page %} active{% endif %}{% else %} disabled{% endif %}"{% if x == pagination.page %} aria-current="page"{% endif %}>
                        <a class="page-link" role="button" title="Page {{ x }}" data-page="{{ x }}">{{ x }}</a>
                    </li>
                    {% endfor %}
                    {% if pagination.nav_links.has_end_ellipsis %}
                    <li class="page-item disabled"><a class="page-link">...</a></li>
                    {% endif %}
                    <li class="page-item{% if pagination.next_page is undefined %} disabled{% endif %}"><a class="page-link"{% if pagination.next_page is not undefined %} role="button" title="Next page" data-page="{{ pagination.next_page }}"{% endif %}><i class="bi bi-chevron-right"></i></a></li>
                    <li class="page-item{% if pagination.page == pagination.last_page %} disabled{% endif %}"><a class="page-link"{% if pagination.page != pagination.last_page %} role="button" title="Last page" data-page="{{ pagination.last_page }}"{% endif %}><i class="bi bi-chevron-double-right"></i></a></li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col">
            {% if timeseries|length > 0 %}
            <div class="accordion" id="accordionTimeseries">
                {% for x in timeseries %}
                <div class="accordion-item">
                    <h2 class="accordion-header" id="panelHeadingTimeseries-{{ x.id }}">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelCollapseTimeseries-{{ x.id }}" aria-expanded="false" aria-controls="panelCollapseTimeseries-{{ x.id }}">
                            <div class="d-sm-flex justify-content-sm-between d-grid gap-3 w-100 me-3">
                                <div class="d-flex gap-1">
                                    <i class="bi bi-clock-history me-1"></i>
                                    <span class="fw-bold text-break">{{ x.name }}</span>
                                    {% if x.unit_symbol %}
                                    <span class="text-muted">[{{ x.unit_symbol }}]</span>
                                    {% endif %}
                                </div>
                                <small class="text-muted">{{ x.campaign_scope_name }}</small>
                            </div>
                        </button>
                    </h2>
                    <div id="panelCollapseTimeseries-{{ x.id }}" class="accordion-collapse collapse" aria-labelledby="panelHeadingTimeseries-{{ x.id }}" data-ts-id="{{ x.id }}">
                        <div class="accordion-body">
                            <ul class="nav nav-tabs app-tabs justify-content-center" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link active" id="general-tab-{{ x.id }}" data-bs-toggle="tab" data-bs-target="#general-tabcontent-{{ x.id }}" type="button" role="tab" aria-controls="general-tabcontent-{{ x.id }}" aria-selected="true">General</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="properties-tab-{{ x.id }}" data-bs-toggle="tab" data-bs-target="#properties-tabcontent-{{ x.id }}" type="button" role="tab" aria-controls="properties-tabcontent-{{ x.id }}">Properties</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="locations-tab-{{ x.id }}" data-bs-toggle="tab" data-bs-target="#locations-tabcontent-{{ x.id }}" type="button" role="tab" aria-controls="locations-tabcontent-{{ x.id }}">Locations</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="events-tab-{{ x.id }}" data-bs-toggle="tab" data-bs-target="#events-tabcontent-{{ x.id }}" type="button" role="tab" aria-controls="events-tabcontent-{{ x.id }}">Events</button>
                                </li>
                            </ul>
                            <div class="tab-content overflow-auto border border-top-0 bg-white mb-3">
                                <div class="tab-pane fade show active p-3" id="general-tabcontent-{{ x.id }}" role="tabpanel" aria-labelledby="general-tab-{{ x.id }}">
                                    <div class="d-flex justify-content-between align-items-start gap-3 mb-2">
                                        <small>{{ x.description }}</small>
                                        {% if signed_user.is_admin %}
                                        <a class="btn btn-sm btn-outline-secondary text-nowrap" href="{{ url_for('timeseries.edit', id=x.id) }}" title="Edit"><i class="bi bi-pencil"></i> Edit</a>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="tab-pane fade p-3" id="properties-tabcontent-{{ x.id }}" role="tabpanel" aria-labelledby="properties-tab-{{ x.id }}">
                                    <div id="timeseriesProperties-{{ x.id }}" data-ts-loaded="false"></div>
                                </div>
                                <div class="tab-pane fade p-3" id="locations-tabcontent-{{ x.id }}" role="tabpanel" aria-labelledby="locations-tab-{{ x.id }}">
                                    <div id="timeseriesStructuralElements-{{ x.id }}" data-ts-loaded="false"></div>
                                </div>
                                <div class="tab-pane fade p-3" id="events-tabcontent-{{ x.id }}" role="tabpanel" aria-labelledby="events-tab-{{ x.id }}">
                                    <nav class="row mb-2" aria-label="Events pagination">
                                        <div class="col-auto align-self-center py-1">
                                            <div is="app-pagesize-selector" id="tsEventsPageSize-{{ x.id }}" current="5"></div>
                                        </div>
                                        <div class="col d-flex flex-wrap justify-content-end align-items-center gap-2">
                                            <small class="text-nowrap text-muted"><app-items-count id="tsEventsItemsCount-{{ x.id }}"></app-items-count></small>
                                            <ul is="app-pagination" id="tsEventsPagination-{{ x.id }}"></ul>
                                        </div>
                                    </nav>
                                    <div id="tsEvents-{{ x.id }}" class="list-group" data-ts-loaded="false"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% else %}
            <p class="fst-italic text-center text-muted">No data</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock main_content %}

{% block body_scripts %}
{{ super() -}}
{% filter indent(width=8, first=True) %}
<script type="module">
    import { TimeseriesListView } from "{{ url_for('static', filename='scripts/modules/views/timeseries/list.js') }}";


    document.addEventListener("DOMContentLoaded", () => {

        let options = {
            filters: {{ filters | tojson }},
            timezone: {{ g.campaign_ctxt.tz_name | tojson }},
        };

        let tsListView = new TimeseriesListView(options);
        tsListView.mount();

    });
</script>
{% endfilter %}
{% endblock body_scripts %}