{% extends "pages/base.html" %}

{% set title = "Structural elements properties" %}

{% block main_toolbar %}
{{ super() -}}
{% filter indent(width=20, first=True) %}
<a href="{{ url_for('structural_elements.properties.create') }}" class="btn btn-sm btn-outline-primary text-nowrap" title="Add a new property"><i class="bi bi-plus-circle"></i> New property</a>
{% endfilter %}
{% endblock main_toolbar %}

{% block main_content %}
{{ super() -}}
<div class="container-fluid">
    <div class="row mb-3">
        <div class="col">
            <div class="accordion" id="accordionFilters">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingFilters">
                        <button class="accordion-button{% if not is_filtered %} collapsed{% endif %}" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFilters" aria-controls="collapseFilters" aria-expanded="{{ is_filtered | lower }}">
                            <span class="fw-bold text-secondary"><i class="bi bi-funnel"></i> Filters</span>
                        </button>
                    </h2>
                    <div id="collapseFilters" class="accordion-collapse collapse{% if is_filtered %} show{% endif %}" aria-labelledby="headingFilters" data-bs-parent="#accordionFilters">
                        <div class="accordion-body">
                            <form class="d-sm-flex justify-content-end d-grid gap-2" action="{{ url_for(request.endpoint) }}" method="POST">
                                <div class="d-flex flex-wrap gap-2">
                                    {% for struct_elmt in structural_elements %}
                                    <div class="form-check form-switch me-4">
                                        <input class="form-check-input" type="checkbox" role="switch" id="{{ struct_elmt }}" name="{{ struct_elmt }}"{% if filters[struct_elmt] %} checked{% endif %}>
                                        <label class="form-check-label" for="{{ struct_elmt }}">{{ struct_elmt | capitalize }}</label>
                                    </div>
                                    {% endfor %}
                                    <div class="form-check form-switch me-4">
                                        <input class="form-check-input" type="checkbox" role="switch" id="orphan" name="orphan"{% if filters["orphan"] %} checked{% endif %}>
                                        <label class="form-check-label" for="orphan">Orphan</label>
                                    </div>
                                </div>
                                <div class="d-lg-flex d-grid gap-2 my-auto">
                                    <button class="btn btn-sm btn-outline-info text-nowrap w-100" type="submit" title="Apply filters"><i class="bi bi-funnel"></i> Apply</button>
                                    <a class="btn btn-sm btn-outline-secondary text-nowrap w-100" role="button" href="{{ url_for(request.endpoint) }}" title="Remove filters"><i class="bi bi-eraser"></i> Remove</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="table-responsive-xl">
                <table class="table table-sm table-hover table-bordered caption-top">
                    <caption class="text-end">
                        <small class="text-nowrap text-muted"><app-items-count id="itemCount" first-item="{% if properties | length > 0 %}1{% else %}0{% endif %}" last-item="{{ properties | length }}" total-count="{{ total_count }}"></app-items-count></small>
                    </caption>
                    <thead>
                        <tr>
                            <th scope="col" colspan="4"></th>
                            <th scope="col" colspan="{{ structural_elements|length }}" class="text-center">Used in</th>
                            <th scope="col"></th>
                        </tr>
                        <tr>
                            <th scope="col" class="w-25">Name</th>
                            <th scope="col">Type</th>
                            <th scope="col">Unit</th>
                            <th scope="col" class="w-25">Description</th>
                            {% for struct_elmt in structural_elements %}
                            <th scope="col" class="text-center">{{ struct_elmt | capitalize }}s</th>
                            {% endfor %}
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody class="table-group-divider">
                        {% for prop in properties %}
                        <tr class="align-middle">
                            <th scope="row" class="text-break">{{ prop.name }}</th>
                            <td>{{ prop.value_type }}</td>
                            <td>{{ prop.unit_symbol }}</td>
                            <td>
                                {% if prop.description|length > 80 %}
                                <abbr title="{{ prop.description }}">{{ prop.description | truncate(80) }}</abbr>
                                {% else %}
                                {{ prop.description }}
                                {% endif %}
                            </td>
                            {% for struct_elmt in structural_elements %}
                            <td class="table-{% if prop.used_in[struct_elmt] %}success{% else %}warning{% endif %} text-center">
                                {% if prop.used_in[struct_elmt] %}
                                <span class="text-success"><i class="bi bi-hand-thumbs-up"></i> yes</span>
                                {% else %}
                                <span class="text-danger"><i class="bi bi-hand-thumbs-down"></i> no</span>
                                {% endif %}
                            </td>
                            {% endfor %}
                            <td class="text-center"><a class="btn btn-sm btn-outline-secondary" href="{{ url_for('structural_elements.properties.edit', id=prop.id) }}" title="Edit property"><i class="bi bi-pencil"></i></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock main_content %}

{% block body_scripts %}
{{ super() -}}
{% filter indent(width=8, first=True) %}
<script type="module" src="{{ url_for('static', filename='scripts/modules/components/itemsCount.js') }}"></script>
{% endfilter %}
{% endblock body_scripts %}