<header class="navbar navbar-light fixed-top border-bottom border-2 app-header">
    <div class="container-fluid gap-4">
        <div class="d-flex flex-nowrap gap-2">
            <button class="navbar-toggler d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('main.index') }}">
                <img class="img-fluid app-logo" src="{{ url_for('static', filename='images/bemserver-min.svg') }}" alt="BEMServer">
            </a>
            {% if project_logo is defined and project_logo is not none %}
            <a class="align-self-center d-none d-md-block" href="{{ project_logo.url }}" target="_blank">
                <img class="img-fluid app-logo-partner" src="{{ project_logo.src }}" alt="{{ project_logo.name }}">
            </a>
            {% endif %}
        </div>
        <div class="d-flex flex-nowrap justify-content-end gap-4 me-3">
            <a id="notifBell" href="{{ url_for('notifications.explore', state='unread') }}" class="link-secondary position-relative" title="You have no unread notifications" role="button"><i class="bi bi-bell"></i></a>
            <div class="dropdown">
                <a role="button" title="{{ signed_user.name }}" class="link-secondary text-decoration-none dropdown-toggle d-flex align-items-center" id="userMenu" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="bi bi-person-circle me-1"></i>
                    <span class="fw-bold">{{ signed_user.name }}</span>
                </a>
                <ul class="dropdown-menu dropdown-menu-end shadow" aria-labelledby="userMenu">
                    <li><a class="dropdown-item" href="{{ url_for('users.view', id=signed_user.id) }}" title="My user profile">My profile</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="{{ url_for('main.about') }}" title="About BEMServer">About BEMServer...</a></li>
                    <li><a class="dropdown-item" href="{{ url_for('auth.signout', ignore_campaign=True) }}" title="Sign out"><i class="bi bi-power"></i> Sign out</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>