{% include "components/campaigns/selector.html" +%}
<nav id="sidebarMenu" class="col-md-3 col-xl-2 d-md-block bg-light app-sidebar border-end border-2 collapse pb-4">
    <div class="position-sticky">
        <div class="d-flex flex-column gap-3">
            <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                    <div class="d-flex justify-content-between align-items-center gap-1">
                        <a id="campaignSelectorNavLink" class="nav-link w-100 fw-bold text-center text-{% if g.campaign_ctxt.has_campaign %}truncate{% else %}break{% endif %} app-campaign-selected" role="button" title="{% if g.campaign_ctxt.has_campaign %}{{ g.campaign_ctxt.name }}{% else %}Select a campaign{% endif %}" data-bs-toggle="offcanvas" data-bs-target=".app-campaign-selector" aria-controls="app-campaign-selector">
                            {% if g.campaign_ctxt.has_campaign %}
                            {{ g.campaign_ctxt.name }}
                            {% else %}
                            <span class="fst-italic">Select a campaign</span>
                            {% endif %}
                        </a>
                        <a id="campaignsNavLink" class="nav-link" href="{{ url_for('campaigns.list') }}" title="Manage campaigns"><i class="bi bi-boxes"></i></a>
                    </div>
                </li>
            </ul>
            {% if g.campaign_ctxt.has_campaign %}
            <ul class="nav nav-pills flex-column gap-1">
                <li class="nav-item">
                    <div class="d-flex justify-content-between align-items-center gap-1">
                        <a class="nav-link w-100" href="{{ url_for('structural_elements.explore') }}" title="Manage locations"><i class="bi bi-building"></i> Sites</a>
                        {% if signed_user.is_admin %}
                        <div class="dropdown">
                            <button type="button" class="nav-link dropdown-toggle" id="dropdownMenuSites" title="Add sites/buildings..." data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-plus-circle"></i></button>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuSites">
                                <li><a class="dropdown-item" href="{{ url_for('structural_elements.create', type='site') }}" title="Add a new site">New site</a></li>
                                <li><a class="dropdown-item" href="{{ url_for('structural_elements.create', type='building') }}" title="Add a new building">New building</a></li>
                                <li><a class="dropdown-item" href="{{ url_for('structural_elements.create', type='storey') }}" title="Add a new storey">New storey</a></li>
                                <li><a class="dropdown-item" href="{{ url_for('structural_elements.create', type='space') }}" title="Add a new space">New space</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="{{ url_for('structural_elements.create', type='zone') }}" title="Add a new zone">New zone</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="{{ url_for('structural_elements.upload') }}" title="Import CSV files">Import CSV</a></li>
                                <li><a class="dropdown-item disabled" href="#" title="Import IFC file">Import IFC</a></li>
                            </ul>
                        </div>
                        {% endif %}
                    </div>
                </li>
                {% if signed_user.is_admin %}
                <li class="nav-item">
                    <div class="d-flex justify-content-between align-items-center gap-1">
                        <a class="nav-link w-100" href="{{ url_for('campaign_scopes.list') }}" title="Manage campaign scopes"><i class="bi bi-box"></i> Campaign scopes</a>
                        <a class="nav-link" href="{{ url_for('campaign_scopes.create') }}" title="Add a new campaign scope"><i class="bi bi-plus-circle"></i></a>
                    </div>
                </li>
                {% endif %}
                <li class="nav-item">
                    <div class="d-flex justify-content-between align-items-center gap-1">
                        <a class="nav-link w-100" href="{{ url_for('timeseries.list') }}" title="Manage timeseries"><i class="bi bi-clock-history"></i> Timeseries</a>
                        {% if signed_user.is_admin %}
                        <div class="dropdown">
                            <button type="button" class="nav-link dropdown-toggle" id="dropdownMenuTimeseries" title="Add Timeseries..." data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-plus-circle"></i></button>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuTimeseries">
                                <li><a class="dropdown-item" href="{{ url_for('timeseries.create') }}" title="Add a new timeseries">New timeseries</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="{{ url_for('timeseries.upload') }}" title="Import CSV file">Import CSV</a></li>
                            </ul>
                        </div>
                        {% endif %}
                    </div>
                </li>
                <li class="nav-item">
                    <div class="d-flex justify-content-between align-items-center gap-1">
                        <a class="nav-link w-100" href="{{ url_for('events.list') }}" title="Manage events"><i class="bi bi-calendar2-event"></i> Events</a>
                        <a class="nav-link" href="{{ url_for('events.create') }}" title="Add a new event entry"><i class="bi bi-plus-circle"></i></a>
                    </div>
                </li>
            </ul>
            <div class="accordion app-sidebar-accordion rounded bg-success bg-opacity-25" id="accordionTSExplore">
                <div class="accordion-item border-0">
                    <h2 class="accordion-header" id="panelHeadingTSData">
                        <button class="accordion-button text-muted rounded-0 shadow-none collapsed p-2" type="button" data-bs-toggle="collapse" data-bs-target="#panelCollapseTSData" aria-expanded="false" aria-controls="panelCollapseTSData">
                            <span class="app-sidebar-heading"><i class="bi bi-clock-history"></i> Timeseries data</span>
                        </button>
                    </h2>
                    <div id="panelCollapseTSData" class="accordion-collapse collapse" aria-labelledby="panelHeadingTSData">
                        <div class="accordion-body px-0 py-2">
                            <ul class="nav nav-pills flex-column gap-1">
                                <li class="nav-item">
                                    <div class="d-flex justify-content-between align-items-center gap-1">
                                        <a class="nav-link w-100" href="{{ url_for('timeseries_data.explore') }}" title="Explore data"><i class="bi bi-bar-chart-line"></i> Explore data</a>
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <div class="d-flex justify-content-between align-items-center gap-1">
                                        <a class="nav-link w-100" href="{{ url_for('timeseries_data.completeness') }}" title="Data completeness"><i class="bi bi-pie-chart"></i> Data completeness</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion app-sidebar-accordion rounded bg-info bg-opacity-25">
                <div class="accordion-item border-0">
                    <h2 class="accordion-header" id="panelHeadingAnalysis">
                        <button class="accordion-button text-muted rounded-0 shadow-none collapsed p-2" type="button" data-bs-toggle="collapse" data-bs-target="#panelCollapseAnalysis" aria-expanded="false" aria-controls="panelCollapseAnalysis">
                            <span class="app-sidebar-heading"><i class="bi bi-speedometer"></i> Analysis</span>
                        </button>
                    </h2>
                    <div id="panelCollapseAnalysis" class="accordion-collapse collapse" aria-labelledby="panelHeadingAnalysis">
                        <div class="accordion-body px-0 py-2">
                            <ul class="nav nav-pills flex-column gap-1">
                                <li class="nav-item">
                                    <div class="d-flex justify-content-between align-items-center gap-1">
                                        <a class="nav-link w-100" href="{{ url_for('analysis.energy_consumption.explore') }}" title="Energy consumption"><i class="bi bi-fire"></i> Energy consumption</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion app-sidebar-accordion rounded bg-secondary bg-opacity-25">
                <div class="accordion-item border-0">
                    <h2 class="accordion-header" id="panelHeadingServices">
                        <button class="accordion-button text-muted rounded-0 shadow-none collapsed p-2" type="button" data-bs-toggle="collapse" data-bs-target="#panelCollapseServices" aria-expanded="false" aria-controls="panelCollapseServices">
                            <span class="app-sidebar-heading"><i class="bi bi-puzzle"></i> Services</span>
                        </button>
                    </h2>
                    <div id="panelCollapseServices" class="accordion-collapse collapse" aria-labelledby="panelHeadingServices">
                        <div class="accordion-body px-0 py-2">
                            <ul class="nav nav-pills flex-column gap-1">
                                <li class="nav-item">
                                    <div class="d-flex justify-content-between align-items-center gap-1">
                                        <a class="nav-link w-100" href="{{ url_for('services.cleanup.state') }}" title="Cleanup service"><i class="bi bi-magic"></i> Cleanup</a>
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <div class="d-flex justify-content-between align-items-center gap-1">
                                        <a class="nav-link w-100" href="{{ url_for('services.missing_data.campaign_context_state') }}" title="Check missing data service"><i class="bi bi-journal-x"></i> Check missing data</a>
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <div class="d-flex justify-content-between align-items-center gap-1">
                                        <a class="nav-link w-100" href="{{ url_for('services.outlier_data.campaign_context_state') }}" title="Check outlier data service"><i class="bi bi-layout-wtf"></i> Check outlier data</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            {% if signed_user.is_admin %}
            <hr>
            <div class="rounded bg-warning bg-opacity-25 mb-2">
                <h6 class="app-sidebar-heading border-bottom fw-bold text-muted ps-2 pb-2 mt-2 mb-0"><i class="bi bi-gear"></i> Administration</h6>
                <div class="accordion app-sidebar-accordion" id="accordionAdmininstration">
                    <div class="accordion-item border-0">
                        <h2 class="accordion-header" id="panelHeadingAdminSites">
                            <button class="accordion-button text-muted rounded-0 shadow-none collapsed p-2" type="button" data-bs-toggle="collapse" data-bs-target="#panelCollapseAdminSites" aria-expanded="false" aria-controls="panelCollapseAdminSites">
                                <span class="app-sidebar-heading"><i class="bi bi-building"></i> Sites</span>
                            </button>
                        </h2>
                        <div id="panelCollapseAdminSites" class="accordion-collapse collapse" aria-labelledby="panelHeadingAdminSites">
                            <div class="accordion-body px-0 py-2">
                                <ul class="nav nav-pills flex-column gap-1">
                                    <li class="nav-item">
                                        <div class="d-flex justify-content-between align-items-center gap-1">
                                            <a class="nav-link w-100" href="{{ url_for('structural_element_properties.list') }}" title="Manage locations properties"><i class="bi bi-card-list"></i> Properties</a>
                                            <a class="nav-link" href="{{ url_for('structural_element_properties.create') }}" title="Add a new property"><i class="bi bi-plus-circle"></i></a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item border-0">
                        <h2 class="accordion-header" id="panelHeadingAdminTS">
                            <button class="accordion-button text-muted rounded-0 shadow-none collapsed p-2" type="button" data-bs-toggle="collapse" data-bs-target="#panelCollapseAdminTS" aria-expanded="false" aria-controls="panelCollapseAdminTS">
                                <span class="app-sidebar-heading"><i class="bi bi-clock-history"></i> Timeseries</span>
                            </button>
                        </h2>
                        <div id="panelCollapseAdminTS" class="accordion-collapse collapse" aria-labelledby="panelHeadingAdminTS">
                            <div class="accordion-body px-0 py-2">
                                <ul class="nav nav-pills flex-column gap-1">
                                    <li class="nav-item">
                                        <div class="d-flex justify-content-between align-items-center gap-1">
                                            <a class="nav-link w-100" href="{{ url_for('timeseries_properties.list') }}" title="Manage timeseries properties"><i class="bi bi-card-list"></i> Properties</a>
                                            <a class="nav-link" href="{{ url_for('timeseries_properties.create') }}" title="Add a new timeseries property"><i class="bi bi-plus-circle"></i></a>
                                        </div>
                                    </li>
                                    <li class="nav-item">
                                        <div class="d-flex justify-content-between align-items-center gap-1">
                                            <a class="nav-link w-100" href="{{ url_for('timeseries_datastates.list') }}" title="Manage timeseries data states"><i class="bi bi-inboxes"></i> Data states</a>
                                            <a class="nav-link" href="{{ url_for('timeseries_datastates.create') }}" title="Add a new timeseries data state"><i class="bi bi-plus-circle"></i></a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    {% if g.campaign_ctxt.has_campaign %}
                    <div class="accordion-item border-0">
                        <h2 class="accordion-header" id="panelHeadingAdminTSData">
                            <button class="accordion-button text-muted rounded-0 shadow-none collapsed p-2" type="button" data-bs-toggle="collapse" data-bs-target="#panelCollapseAdminTSData" aria-expanded="false" aria-controls="panelCollapseAdminTSData">
                                <span class="app-sidebar-heading"><i class="bi bi-server"></i> Timeseries data</span>
                            </button>
                        </h2>
                        <div id="panelCollapseAdminTSData" class="accordion-collapse collapse" aria-labelledby="panelHeadingAdminTSData">
                            <div class="accordion-body px-0 py-2">
                                <ul class="nav nav-pills flex-column gap-1">
                                    <li class="nav-item">
                                        <div class="d-flex justify-content-between align-items-center gap-1">
                                            <a class="nav-link w-100" href="{{ url_for('timeseries_data.upload') }}" title="Import timeseries data"><i class="bi bi-filetype-csv"></i> Import timeseries data</a>
                                        </div>
                                    </li>                    
                                    <li class="nav-item">
                                        <div class="d-flex justify-content-between align-items-center gap-1">
                                            <a class="nav-link w-100" href="{{ url_for('timeseries_data.delete') }}" title="Delete timeseries data"><i class="bi bi-trash3"></i> Delete history</a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    <div class="accordion-item border-0">
                        <h2 class="accordion-header" id="panelHeadingAdminServices">
                            <button class="accordion-button text-muted rounded-0 shadow-none collapsed p-2" type="button" data-bs-toggle="collapse" data-bs-target="#panelCollapseAdminServices" aria-expanded="false" aria-controls="panelCollapseAdminServices">
                                <span class="app-sidebar-heading"><i class="bi bi-puzzle"></i> Services</span>
                            </button>
                        </h2>
                        <div id="panelCollapseAdminServices" class="accordion-collapse collapse" aria-labelledby="panelHeadingAdminServices">
                            <div class="accordion-body px-0 py-2">
                                <ul class="nav nav-pills flex-column gap-1">
                                    <li class="nav-item">
                                        <div class="d-flex justify-content-between align-items-center gap-1">
                                            <a class="nav-link w-100" href="{{ url_for('services.cleanup.list') }}" title="Manage cleanup service"><i class="bi bi-magic"></i> Cleanup</a>
                                        </div>
                                    </li>
                                    <li class="nav-item">
                                        <div class="d-flex justify-content-between align-items-center gap-1">
                                            <a class="nav-link w-100" href="{{ url_for('services.missing_data.list') }}" title="Manage check missing data service"><i class="bi bi-journal-x"></i> Check missing data</a>
                                        </div>
                                    </li>
                                    <li class="nav-item">
                                        <div class="d-flex justify-content-between align-items-center gap-1">
                                            <a class="nav-link w-100" href="{{ url_for('services.outlier_data.list') }}" title="Manage check outlier data service"><i class="bi bi-layout-wtf"></i> Check outlier data</a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item border-0">
                        <h2 class="accordion-header" id="panelHeadingAdminEvents">
                            <button class="accordion-button text-muted rounded-0 shadow-none collapsed p-2" type="button" data-bs-toggle="collapse" data-bs-target="#panelCollapseAdminEvents" aria-expanded="false" aria-controls="panelCollapseAdminEvents">
                                <span class="app-sidebar-heading"><i class="bi bi-calendar2-event"></i> Events</span>
                            </button>
                        </h2>
                        <div id="panelCollapseAdminEvents" class="accordion-collapse collapse" aria-labelledby="panelHeadingAdminEvents">
                            <div class="accordion-body px-0 py-2">
                                <ul class="nav nav-pills flex-column gap-1">
                                    <li class="nav-item">
                                        <div class="d-flex justify-content-between align-items-center gap-1">
                                            <a class="nav-link w-100" href="{{ url_for('event_categories.list') }}" title="Manage event categories"><i class="bi bi-tags"></i> Categories</a>
                                            <a class="nav-link" href="{{ url_for('event_categories.create') }}" title="Add a new event category"><i class="bi bi-plus-circle"></i></a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item border-0">
                        <h2 class="accordion-header" id="panelHeadingAdminUsers">
                            <button class="accordion-button text-muted rounded-0 shadow-none collapsed p-2" type="button" data-bs-toggle="collapse" data-bs-target="#panelCollapseAdminUsers" aria-expanded="false" aria-controls="panelCollapseAdminUsers">
                                <span class="app-sidebar-heading"><i class="bi bi-person-rolodex"></i> Users & groups</span>
                            </button>
                        </h2>
                        <div id="panelCollapseAdminUsers" class="accordion-collapse collapse" aria-labelledby="panelHeadingAdminUsers">
                            <div class="accordion-body px-0 py-2">
                                <ul class="nav nav-pills flex-column gap-1">
                                    <li class="nav-item">
                                        <div class="d-flex justify-content-between align-items-center gap-1">
                                            <a class="nav-link w-100" href="{{ url_for('user_groups.list') }}" title="Manage user groups"><i class="bi bi-people-fill"></i> User groups</a>
                                            <a class="nav-link" href="{{ url_for('user_groups.create') }}" title="Add a new user group"><i class="bi bi-plus-circle"></i></a>
                                        </div>
                                    </li>
                                    <li class="nav-item">
                                        <div class="d-flex justify-content-between align-items-center gap-1">
                                            <a class="nav-link w-100" href="{{ url_for('users.list') }}" title="Manage users"><i class="bi bi-person-lines-fill"></i> Users</a>
                                            <a class="nav-link" href="{{ url_for('users.create') }}" title="Add a new user"><i class="bi bi-plus-circle"></i></a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</nav>