{% include "components/campaigns/selector.html" +%}
<nav id="sidebarMenu" class="col-md-3 col-xl-2 d-md-block bg-light app-sidebar border-end border-2 collapse">
    <div class="position-sticky">
        <div class="d-flex flex-column">
            <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                    <div class="d-flex justify-content-between align-items-center gap-1">
                        <a class="nav-link w-100 fw-bold text-center text-break app-campaign-selected" role="button" title="Select a campaign" data-bs-toggle="offcanvas" data-bs-target=".app-campaign-selector" aria-controls="app-campaign-selector">
                            {% if g.campaign_ctxt.has_campaign %}
                            {{ g.campaign_ctxt.name }}
                            {% else %}
                            <span class="fst-italic">Select a campaign</span>
                            {% endif %}
                        </a>
                        {% if signed_user.is_admin %}
                        <a class="nav-link" href="{{ url_for('campaigns.list') }}" title="Manage campaigns"><i class="bi bi-boxes"></i></a>
                        {% endif %}
                    </div>
                </li>
            </ul>
            {% if g.campaign_ctxt.has_campaign %}
            <ul class="nav nav-pills flex-column mt-3">
                {% if signed_user.is_admin %}
                <li class="nav-item">
                    <div class="d-flex justify-content-between align-items-center gap-1">
                        <a class="nav-link w-100" href="{{ url_for('campaign_scopes.list') }}" title="View campaign scopes"><i class="bi bi-box"></i> Campaign scopes</a>
                        <a class="nav-link" href="{{ url_for('campaign_scopes.create') }}" title="Add a new campaign scope"><i class="bi bi-plus-circle"></i></a>
                    </div>
                </li>
                {% endif %}
                <li class="nav-item">
                    <div class="d-flex justify-content-between align-items-center gap-1">
                        <a class="nav-link w-100" href="{{ url_for('structural_elements.manage') }}"><i class="bi bi-building"></i> Sites</a>
                        {% if signed_user.is_admin %}
                        <div class="dropdown">
                            <button type="button" class="nav-link dropdown-toggle" id="dropdownMenuSites" title="Add sites/buildings..." data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-plus-circle"></i></button>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuSites">
                                <li><a class="dropdown-item" href="{{ url_for('sites.create') }}" title="Add a new site">New site</a></li>
                                <li><a class="dropdown-item" href="{{ url_for('buildings.create') }}" title="Add a new building">New building</a></li>
                                <li><a class="dropdown-item" href="{{ url_for('storeys.create') }}" title="Add a new storey">New storey</a></li>
                                <li><a class="dropdown-item" href="{{ url_for('spaces.create') }}" title="Add a new space">New space</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="{{ url_for('zones.create') }}" title="Add a new zone">New zone</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item disabled" href="#" title="Import IFC file">Import IFC</a></li>
                            </ul>
                        </div>
                        {% endif %}
                    </div>
                </li>
            </ul>
            {% endif %}
            {% if signed_user.is_admin %}
            <h6 class="app-sidebar-heading ps-2 mt-4 mb-1 text-muted"><i class="bi bi-gear"></i> Administration</h6>
            <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                    <div class="d-flex justify-content-between align-items-center gap-1">
                        <a class="nav-link w-100" href="{{ url_for('user_groups.list') }}" title="View user groups"><i class="bi bi-people-fill"></i> User groups</a>
                        <a class="nav-link" href="{{ url_for('user_groups.create') }}" title="Add a new user group"><i class="bi bi-plus-circle"></i></a>
                    </div>
                </li>
                <li class="nav-item">
                    <div class="d-flex justify-content-between align-items-center gap-1">
                        <a class="nav-link w-100" href="{{ url_for('users.list') }}" title="View users"><i class="bi bi-person-lines-fill"></i> Users</a>
                        <a class="nav-link" href="{{ url_for('users.create') }}" title="Add a new user"><i class="bi bi-plus-circle"></i></a>
                    </div>
                </li>
                <li><hr class="dropdown-divider"></li>
                <li class="nav-item">
                    <div class="d-flex justify-content-between align-items-center gap-1">
                        <a class="nav-link w-100" href="{{ url_for('structural_element_properties.list') }}" title="View properties"><i class="bi bi-card-list"></i> Sites properties</a>
                        <a class="nav-link" href="{{ url_for('structural_element_properties.create') }}" title="Add a new property"><i class="bi bi-plus-circle"></i></a>
                    </div>
                </li>
            </ul>
            {% endif %}
        </div>
    </div>
</nav>