{% extends "pages/base.html" %}

{% set title = "Timeseries" %}
{% set subtitle = "Manage locations" %}

{% block main_content %}
{{ super() -}}
<div class="container-fluid">
    <div class="row h-100">
        <div class="col-12 col-xl-6 pb-3 pb-xl-0">
            <div class="row mb-3">
                <div class="d-flex align-items-center gap-2">
                    <label class="form-label m-0" for="search">Search</label>
                    <input type="text" class="form-control form-control-sm" id="search" name="search" placeholder="Name..." data-bs-toggle="tooltip" data-bs-html="true" data-bs-title="Hit <b>enter</b> to filter timeseries" autofocus></input>
                    <a id="clear" role="button" class="link-danger text-decoration-none mx-1 d-none invisible" title="Clear search filter"><i class="bi bi-x-circle"></i></a>
                </div>
            </div>
            <nav class="row mb-2" aria-label="Timeseries pagination">
                <div class="col-auto d-flex align-items-center py-1">
                    <div id="tsPageSizeSelectorContainer"></div>
                </div>
                <div class="col d-flex flex-wrap justify-content-end align-items-center gap-2">
                    <small><app-items-count id="tsItemsCount"></app-items-count></small>
                    <div id="tsPaginationContainer"></div>
                </div>
            </nav>
            <div class="row">
                <div class="col">
                    <div id="tsListContainer"></div>
                </div>
            </div>
        </div>
        <div class="col">
            <h5 class="text-secondary">Locations available</h5>
            <div class="alert alert-info alert-dismissible fade show" role="alert">
                <i class="bi bi-info-square float-start me-2"></i>
                <span>Open a timeseries accordion panel to <span class="fw-bold fst-italic">drag and drop</span> locations over it.</span>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <ul class="nav nav-tabs app-tabs" id="tabSites" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="sites-tab" data-bs-toggle="tab" data-bs-target="#sites-tabcontent" type="button" role="tab" aria-controls="sites-tabcontent" aria-selected="true"><i class="bi bi-buildings"></i> Sites</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="zones-tab" data-bs-toggle="tab" data-bs-target="#zones-tabcontent" type="button" role="tab" aria-controls="zones-tabcontent" aria-selected="false"><i class="bi bi-bullseye"></i> Zones</button>
                </li>
            </ul>
            <div class="tab-content app-tab-content overflow-auto border border-top-0 bg-white" id="tabSitesContent">
                <div class="tab-pane fade show active p-3" id="sites-tabcontent" role="tabpanel" aria-labelledby="sites-tab">
                    <app-tree id="sitesTree" icon="bi,bi-dash-square-dotted" icon-collapsed="bi,bi-plus-square" icon-expanded="bi,bi-dash-square-dotted"></app-tree>
                </div>
                <div class="tab-pane fade p-3" id="zones-tabcontent" role="tabpanel" aria-labelledby="zones-tab">
                    <app-tree id="zonesTree" icon="bi,bi-dash-square-dotted" icon-collapsed="bi,bi-plus-square" icon-expanded="bi,bi-dash-square-dotted" toolbar="false"></app-tree>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock main_content %}

{% block body_scripts %}
{{ super() -}}
{% filter indent(width=8, first=True) %}
<script type="module" src="{{ url_for('static', filename='scripts/modules/views/timeseries/manageStructuralElements.js') }}" defer></script>
{% endfilter %}
{% endblock body_scripts %}