:root {
    --app-sidebar-bg: #f3f8e9;
}

body,
.app-header {
    min-width: 420px;
}

.app-messages {
    z-index: 1031;
    max-height: 150px;
}
.app-messages > .alert {
    min-width: 40vw !important;
}

.app-header .app-logo,
.app-header .app-logo-partner {
    max-height: 40px !important;
}
.app-header .app-logo {
    min-width: 75px !important;
    max-width: 150px !important;
}

.app-header,
.app-sidebar {
    background-color: var(--app-sidebar-bg) !important;
}

.app-content {
    padding-top: 60px;
}

.app-sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 68px 8px 8px 8px; /* Height of navbar */
    overflow: auto !important;
}

@media (width < 768px) {
    .app-sidebar {
        top: 0;
        left: 0;
        width: 300px;
    }
}

@media (width >= 768px) {
    #sidebarToggler {
        visibility: hidden;
    }

    .app-tab-content {
        min-height: 400px;
    }
}

.app-sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
}

.app-sidebar .nav-link {
    color: inherit;
}
.app-sidebar .nav-link.disabled {
    color: var(--bs-gray-600);
}

.app-sidebar .nav-link:hover {
    color: var(--app-white);
}

.app-sidebar .nav-link:hover,
.app-sidebar .nav-link.active {
    background-color: var(--app-blue) !important;
}

.accordion.app-sidebar-accordion .accordion-item {
    background-color: inherit !important;
}

.accordion.app-sidebar-accordion .accordion-button {
    background-color: var(--app-white-300) !important;
}

.accordion.app-sidebar-accordion .accordion-body {
    background-color: var(--app-white-500) !important;
}

.accordion.app-sidebar-accordion .accordion-button:not(.collapsed) {
    background-color: var(--app-white-0) !important;
}

.accordion.app-sidebar-accordion .accordion-button:not(.collapsed) * {
    color: inherit !important;
}

.navbar .navbar-toggler {
    top: .25rem;
    right: 1rem;
}

@media (width < 400px) {
    .navbar {
        position: absolute !important;
    }
}

.app-campaign-selector {
    top: 60px !important;
    min-height: 200px;
    max-height: 340px;
}

.app-campaign-selected {
    background-color: var(--app-blue-200) !important;
}

.app-tabs .nav-item .nav-link:not(.active):not(.disabled) {
    border-left-color: var(--app-blue-100);
    border-top-color: var(--app-blue-100);
    border-right-color: var(--app-blue-100);
    background-color: var(--app-blue-50) !important;
}

.app-tabs .nav-item:hover .nav-link:not(.active):not(.disabled) {
    background-color: var(--app-blue) !important;
    border-bottom-color: var(--app-blue);
}

.app-tabs .nav-item:hover .nav-link:not(.active):not(.disabled) {
    color: var(--app-white) !important;
}

.app-spinner {
    color: var(--app-green) !important;
}
.app-spinner-secondary {
    color: var(--app-blue) !important;
}

@media (max-width: 992px) {
    .app-panel-collapse .app-panel-collapse-body:first-child {
        width: 100% !important;
    }
}

@media (min-width: 1200px) {
    .app-panel-collapse .app-panel-collapse-body:first-child {
        width: 400px !important;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    .app-panel-collapse .app-panel-collapse-body:first-child {
        width: 300px !important;
    }
}

.app-table-tr-selected > * {
    background-color: var(--bs-table-hover-bg) !important;
    color: var(--bs-table-hover-color) !important;
}

.app-border-dashed {
    border-style: dashed !important;
}

.app-border-dotted {
    border-style: dotted !important;
}
