* {
    padding: 0;
    margin: 0;
}

html,
body {
    height: 100%;
    background-color: #f5f5f5 !important;
    color: #474747 !important;
}

h1 {
    color: #6e8a98;
}
h2 {
    color: #95c11a;
}

.vr {
    color: #6e8a98 !important;
}

.bg-primary {
    background-color: #0088db !important;
}

.bg-secondary {
    background-color: #95c11a !important;
}

.accordion-button:not(.collapsed),
.list-group-item-action:hover {
    background-color: #0088db !important;
}

.accordion-button:not(.collapsed) span,
.list-group-item-action:hover,
.list-group-item-action:hover .text-success {
    color: #ffffff !important;
}
