body {
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    min-width: 350px;
    background-color: #f3f8e9 !important;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.form-signin input[type="password"] {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
